.create-hotel-profile-container {
  .room-name {
    margin-top: 32px;
  }
  .back-button{
    margin-top: 20px;
    margin-left: -45px;
    font-size: 15px;
    border-width: 0px;
  }
  .add-facility {
    margin-top: 43px;
    .add-facility-img {
      width: 20px;
      border-radius: 100%;
    }
  }
  .close-button-delete{
    position: relative;
    right: 8px;
    top: -47px;
    width: 24px;
    border-radius: 100%;
  }
  .close-button-delete-video{
    position: absolute;
    right: -12px;
    top: -4px;
    width: 24px;
    border-radius: 100%;
  }
  .align-delete-button{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    padding: 1px 2px;
    color: #ffffff;
    border-color: transparent;
  }
  .align-delete-button-links{
    margin-left: 15px !important;
  }
  .text-meeting-space{
    padding: 20px;
  }
  .align-logo{
    margin-top: 34px;
  }
  .color-hr{
    background-color: #cfd0d22b;
  }
  .hotel-facilities-info{
    margin-top: 10px;
  }
  .loader-style {
    text-align: center;
    padding: 62px;
  }
  .button-left {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e9e1e1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .button-right {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e9e1e1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .content-right{
      width: 80%;
      float: right;
      margin-left: 20px;
      margin-right: 5%;
  }
  .add-meeting-room{
    width: 30px;
    border-radius: 100%;
  }
  .back-button {
    margin-top: 20px;
    font-size: 15px;
    border: 0;
  }
  .save-btn {
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 23px;
    float: right;
    .save-text {
      padding-right: 20px;
    }
  }
  .header-title {
    font-size: 25px;
    font-weight: bold;
  }
  .bottom-border {
    border-bottom: 1px solid;
  }
  .row.general-contact-info-container {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .add-visuals-container {
    padding: 68px 42px;
    border-radius: 8px;
    background-image: linear-gradient(316deg, rgba(237, 237, 237, 0.5), rgba(216, 216, 216, 0.5));
  }
  .row.contact-container {
    margin-top: 20px;
  }
  .contact-text {
    width: 100%;
    height: 28px;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #ffffff;
  }
  input[placeholder]{
    text-overflow: ellipsis;
  }
  .content-text-room-details{
    width: 75%;
    height: 28px;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #ffffff;
  }
  .prelative{
    position: relative;
  }
  .prelative .room-name-details{
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    font-size: 16px;
    left:10px;
    right:0;
    bottom:-15px;
    color:#fff;
  }
  .link-text {
    width: 100%;
  }
  .tpadding30 {
    padding-top: 30px;
  }
  .width33{
    width: 30%;
  }
  .width13 {
    width: 13%;
  }
  .width14 {
    width: 14%;
  }
  .icon-3D{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    svg {
      height: 100%;
    }
  }

  #layout_tab {
    ul {
      transform: skewX(30deg);
      width: 104%;
      .individual-tab{
        height: 48px;
        top: 15px;
        width: 100%;
        right: 69px;
        border-top-right-radius: 10px;
        border-right: 2.5px solid;
        border-top: 2.5px solid;
        padding: 0px;
        border-bottom: 0px;
        margin-top: 2px;
        li {
            padding: 20px;
            border-bottom: 0px;
            &:after {
              content: "";
              width: 72%;
              height: 34%;
              top: 0;
              position: absolute;
              right: 68px;
            }
            span {
              transform: skew(-30deg, 0deg);
              padding-left: 18%;
            }
        }
      }
    }
  }
  .individual-tab-toggle{
    margin-left: -2px;
    border-bottom: 2.5px solid;
    border-bottom-left-radius: 13px;
  }
  .main-content{
    padding-bottom: 20px;
    background-image: linear-gradient(154deg, #f0f0f0, #fafafa);
  }
 
  .meeting-space-tab{
    height:52px;
    overflow: hidden;
    text-align: center;
  }
  .meeting-space-tab:before{
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 0 -24px;
    -webkit-transform: skew(34deg);
    -moz-transform: skew(34deg);
    -ms-transform: skew(34deg);
    -o-transform: skew(34deg);
    transform: skew(34deg);
    border-top-right-radius: 15px;
    border-top: 2.5px solid;
    border-right: 2.5px solid;
    position: absolute;
  }
  .layout-sub-tab{
    border-bottom: 1px solid;
    text-align: center;
  }
  .button-selection{
    width: 80%;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
    border: solid 0.7px rgba(252, 252, 252, 0);
    background-color: #ffffff;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  } 
  .add-visual-photo{
    position: absolute;
    right: 0px;
    top: 0px;
    object-fit: cover;
    left: 0px;
    width: 100%;
    height: 131px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-bottom: 6px;
  }
  .add-visual-photo-mobile{
    right: 0px;
    top: 0px;
    width: 100%;
    object-fit: cover;
    height: 131px;
    padding-bottom: 6px;
  }
  .edit-visual-photo {
    position: relative;
  }
  .selected-tab{
    margin-top: 20px;
    margin-bottom: -16px;
    border: 1.6px solid;
    width: 80%;
  }
  .unselected-tab{
    margin-top: 20px;
    margin-bottom: -13px;
    border: 0px ;
    width: 80%;
  }
  .setup-image-container {
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
  }
  .setup-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 38px;
    text-align: center;
    svg {
      height: 100%;
    }
  }
  .dflex{
    display: flex;
  }
  .row-details{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #e9e1e1;
  }
  .add-visuals-room-details{
    cursor: pointer;
    padding: 35px 36px;
    border-radius: 8px;
    margin-top: 13px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #fcfcfc;
  }
  .room-name-details-added-room{
    font-weight: bold;
    position: absolute;
    font-size: 16px;
    left:10px;
    right:0;
    bottom:0px;
    padding-bottom: 10px;
  }
  .align-meeting-room-name{
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .edit-visuals-room-details {
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: 5px;
    padding: 0;
  }
  .hotel-detail{
    float:left;
    display: inline-block;
    width: 10%;
    padding: 10px;
    font-size: 12px;
  }
  .switch {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 27px;
        max-width: none;
    }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: -3px;
    /*background-color: #f5edf0;*/
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
        position: absolute;
        content: "";
        height: 23px;
        width: 23px;
        left: 6px;
        bottom: 4px;
        /*background-color: #d1b4b4;*/
        background-image: linear-gradient(161deg, #e4caca, #ab8787);
        -webkit-transition: .4s;
        transition: .4s;
    }

  /*input:checked + .slider {
    background-color: white;
  }*/

  /*input:focus + .slider {
    box-shadow: 0 0 1px red;
  }*/

  input:checked + .slider:before {
    -webkit-transform: translateX(45px);
    -ms-transform: translateX(45px);
    transform: translateX(45px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .button-save{
    width: 120px;
    border-radius: 27px;
  }
  .button-edit{
    width: 90px;
    border-radius: 27px;
    padding: 5px;
  }
  .meeting-room-thumbnail{
      right: 0;
      top: 0;
      object-fit: cover;
      left: 0;
      width: 100%;
      height: 130px;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
  }
  .row-margin{
      margin-left: 10px;
      margin-right: 10px;
  }
  .capacity-column{
    padding: 12px 0px;
  }
  .column-corner-radius{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #e9e1e1;
  }
  .select-floor-background{
    border-radius: 8px;
    background-color: #ffffff;
  }
  .select-floor{
    width: 100%;
    padding: 3px;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
    border: solid 0.5px #ffffff;
    background-color: #ffffff;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance: none;
    background:url("/dist/img/meeting_space/icons/arrow-down.svg");
    background-position: right;
    background-size:30px 8px;
    background-repeat: no-repeat;
  }
  .floor-details{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.23), #ffffff);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.03);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .select-hotel-chain {
    padding-left: 6px;
    overflow: hidden;
    white-space: normal;
    background: #ffffff;
    height: 28px;
    width: 100%;
  }
  .profile-country {
    height: 28px;
    margin: 0;
    width: 100%;
    background: #ffffff;
  }
  .close-button {
    border: 0;
    .svg-wrapper {
      span {
        svg {
          width: 15px;
        }
      }
    }
  }
  .empty-meetingroom-msg {
    margin: 36px 10px 15px;
  }
  .setup-available-msg {
    text-align: center;
    padding-top: 35px;
  }
  .width-100{
    width: 100%;
  }
  .align-add-button{
    margin-top: 32px !important;
    padding-left: 0px;
  }
  .wrap-text{
    /*word-wrap: break-all;*/
    overflow-wrap: break-word;
  }
  .height-background{
    height: 20px;
  }
  @media (max-width: 768px){
    .content-right{
      margin-right: 0px;
      width: 100%;
    }
    .add-visuals-container{
       width: 100%;
    }
    .align-content-top{
       margin-top: 10px;
    }
    .row.contact-container {
       margin-top: 10px;
    }
    .align-view-profile{
      margin-left: 0px;
      width: 100%;
    }
    .row.general-contact-info-container{
      padding-top: 10px;
      padding-bottom: 20px;
      margin-top: 0px;
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.06);
      background-image: linear-gradient(176deg, #f0f0f0, #fafafa);
    }
    .hotel-facilities-info{
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.06);
      background-image: linear-gradient(176deg, #f0f0f0, #fafafa);
      padding-top: 10px;
      padding-bottom: 20px;
      margin-top: 0px;
    }
    .bottom-border {
      border-bottom: 0px;
    }
    .width-input{
      width: 100%;
    }
    .width-input-fb{
      width: 100%;
    }
    .title{
      margin-left: 10px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px){
    .add-visuals-container {
       padding: 55px 7px;
    }
    /*.align-text-input{
      margin-top: 20px;
    }
    .width-icon-fb{
      width: 15%;
    }
    .width-input-fb{
      width: 85%;
    }
    .width-icon{
      width: 25%;
    }
    .width-input{
      width: 75%;
    }*/
    .switch{    
      width: 65px;
    }
    .title{
      margin-left: 10px;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(35px);
      -ms-transform: translateX(35px);
      transform: translateX(35px);
    }
    .content-right{
      margin-right: 0px;
      width: 90%;
    }
    .add-visuals-container{
       width: 100%;
    }
    .align-content-top{
       margin-top: 10px;
    }
    .row.contact-container {
       margin-top: 10px;
    }
    .align-view-profile{
      margin-left: 0px;
      width: 100%;
    }
    .row.general-contact-info-container{
      padding-top: 10px;
      padding-bottom: 20px;
      margin-top: 0px;
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.06);
      background-image: linear-gradient(176deg, #f0f0f0, #fafafa);
    }
    .hotel-facilities-info{
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.06);
      background-image: linear-gradient(176deg, #f0f0f0, #fafafa);
      padding-top: 10px;
      padding-bottom: 20px;
      margin-top: 0px;
    }
    .bottom-border {
      border-bottom: 0px;
    }
    .width-input{
      width: 100%;
    }
    .width-input-fb{
      width: 100%;
    }
    .width-100{
      width: 100%;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px){
    .add-visuals-container {
       padding: 55px 7px;
    }
    .back-button{
      margin-left: 0px;
    }
  }
  @media (max-width: 992px){
    .back-button{
      margin-left: 0px;
    }
    .list-title{
      margin-top: 30px;
      font-size: 18px;
    }
    .text-meeting-space{
      font-size: 12px;
      padding: 13px;
    }
    .main-content{
      background-image: unset;
    }
    .floor-details{
      background-color: #cfd0d22b;
      background-image: unset;
    }
    .row-details{
      background-color: #cfd0d22b !important;
      background-image: unset;
      border-radius: 0px;
      margin-top: 0px;
    }
    .contact-text-room-details{
      margin-left: 0px;
    }
    .setup-available-msg{
      padding-bottom: 35px;
    }
    .button-save{
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .row-margin{
      background-color: #cfd0d22b;
      padding-bottom: 20px;
    }
    .add-visuals-room-details-view{
      padding: 53px 36px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top: 13px solid;
      margin-bottom: 5px;
      width: 100%;
      background-color: #fcfcfc;
    }
    .add-visuals-room-details{
      cursor: default;
      padding: 0px 0px;
      margin-top: 0px;
      border-top: 13px solid;
    }
    .background-white{
      background-color: #ffffff;
      margin-left: 20px;
      border-radius: 8px;
      margin-right: 20px;
      padding-bottom: 20px;
      box-shadow: 2px 2px 17px 0 rgba(0, 0, 0, 0.18);
    }
    .border-bottom{
      border-bottom: solid 1px #cecece;
    }
    .padding-top-delete-button{
      padding-top: 15px !important;
    }
    .align-dropdown{
      margin-right: 20px !important;
    }
    .text-color-black{
      color: #000000;
    }
    .button-edit{
      width: 58px;
      padding: 5px;
      margin-top: 5px;
    }
    .switch {
      width: 56px;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(25px);
      -ms-transform: translateX(25px);
      transform: translateX(25px);
    }
  }
  @media (max-width: 1200px){
    .align-input-field{
      padding-left: 0px;
    }
  }
  @media (min-width: 768px) and (max-width: 992px){
    .setup-image-container{
      max-width: 92px;
    }
  }
  @media (min-width: 992px) and (max-width: 1100px){
    .setup-image-container{
      max-width: 65px;
    }
  }
  @media (min-width: 1100px) and (max-width: 1200px){
    .setup-image-container{
      max-width: 69px;
    }
  }
  @media (min-width: 1200px) and (max-width: 1300px){
    .setup-image-container{
      max-width: 73px;
    }
  }
  @media (min-width: 1300px) and (max-width: 1400px){
    .setup-image-container{
      max-width: 97px;
    }
  }
  @media (min-width: 1400px) and (max-width: 1600px){
    .setup-image-container{
      max-width: 106px;
    }
  }
  @media (min-width: 1600px) and (max-width: 1800px){
    .setup-image-container{
      width: 103px;
    }
  }
  @media (min-width: 1800px){
    .setup-image-container{
      width: 114px;
    }
  }
}