.hotellist-container{
	.table-title{
		padding-left: 25px;
	}
	.text-bold{
		font-size: 18px;
	}
	.content-right{
        width: 80%;
	    float: right;
	    margin-left: 20px;
	    margin-right: 5%;
	}
	.header-title{
		font-size: 28px;
	}
	.list-event{
		background-color: #ffffff;
		margin-bottom: 15px;
		vertical-align: middle;
		margin-left: 10px;
		margin-right: 10px;
		border:0px solid #ffffff;
		border-radius: 8px;
	}
	.display-contents{
		vertical-align: middle;
	}
	.hotel-list-bt{
		border: 0;
		margin-left: -45px;
		margin-top: 20px;
	}
	.hotel-list-sidebar{
		margin-top: 60px;
	}
	.hotel-list{
		margin-top: 35px; 
	}
	.hotel-list-table-title{
		margin-left: -10px;
	}
	.hotel-list-main-content{
		background: #f3f3f3;
	}
	.enter-input{
		height: 35px;
		border: 1px solid rgba(173,11,58,0.1);
		border-radius: 6px;
		padding: 10px;
	}
	.add-hotel {
		margin-top: 10px;
		margin-bottom: 38px;
	}
	.add-hotel-text {
		padding: 15px;
		font-size: 14px;
	}
	.hotel-list-add-image {
		border-radius: 30px;
		width: 30px;
	}
	.search-icon{
		margin-top: 5px;
		.injected-svg{
			width: 20px;
		}
	}
	.find-text{
		width: 100%;
		padding: 5px;
	    text-align: center;
	    outline: none;
	    border: 0px;
	}
	input[type="text"]::placeholder{
		font-weight: bold;
	}
	.border-search-bar{
		border-radius: 6px;
	}
	.create-event-button{
		float: right;
		width: 300px;
		height: 50px;
		border-radius: 30px;
		text-align: center;
		align-content: right;
		margin-top: 30px;
		margin-right: 20px;
	}
	.create-event-button-small{
		width: 150px;
		text-align: center;
		border-radius: 30px;
	}
	.content-table-heading-1{
    float:left;
    cursor: pointer;
    padding-top: 10px;
    .svg-wrapper.transform {
    	span {
    		svg {
    			transform: rotate(180deg);
    		}
    	}
    }
	}
	.content-table-heading-2{
		float:left;
		width: 15%;
		padding: 2px;
	}
	.filter-by{
		/*color: #AD0B3A;*/
		width: 110px;
    	height: 35px;
    	border: 1px solid rgba(173, 11, 58, 0.1);
	}
	.hotel-name{
		float:left;
    /*width:40%;*/
    padding: 10px;
	}
	.hotel-list-row{
		margin-left: 5px;
  	margin-right: 5px;	
  	padding-bottom: 5px;
 	}
  .disable-hotel {
    opacity: 0.4;
  }
	.hotel-detail-sub-brand{
		float:left;
		width: 30%;
		padding: 10px;
	}
	.hotel-detail{
		float:left;
		padding: 10px;
		font-size: 12px;
	}
	.switch {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 30px;
        max-width: none;
    }

	/*.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}*/
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: -3px;
		/*background-color: #f5edf0;*/
		-webkit-transition: .4s;
		transition: .4s;
	}
	.slider:before {
        position: absolute;
        content: "";
        height: 27px;
        width: 27px;
        left: 6px;
        bottom: 4px;
        /*background-color: #d1b4b4;*/
        background-image: linear-gradient(161deg, #e4caca, #ab8787);
        -webkit-transition: .4s;
        transition: .4s;
    }

	/*input:checked + .slider {
	  background-color: white;
	}*/

	/*input:focus + .slider {
	  box-shadow: 0 0 1px red;
	}*/

	input:checked + .slider:before {
	  -webkit-transform: translateX(45px);
	  -ms-transform: translateX(45px);
	  transform: translateX(45px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
}
    
.empty-hotel-msg {
  text-align: center;
  padding: 100px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  border: solid 0.7px rgba(252, 252, 252, 0);
  background-color: #ffffff;
}

/* Video pop up */
.videoPlayerPpUP {
	width: 800px;
	vertical-align: middle;
    border-radius: 16px;
    box-shadow: 0 8px 39px 7px rgba(0, 0, 0, 0.12), 0 9px 13px -6px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(176deg, #f0f0f0, #fafafa);
    margin: auto;
    position: fixed;
    right: 10%;
    top: 10%;
}

/* Multimedia pop up */

.multimedia-image-container{
	width: 800px;
	vertical-align: middle;
	height: 80%;
	overflow-y: auto;
    border-radius: 16px;
    box-shadow: 0 8px 39px 7px rgba(0, 0, 0, 0.12), 0 9px 13px -6px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(176deg, #f0f0f0, #fafafa);
    margin: auto;
    position: fixed;
    right: 10%;
    top: 10%;

    .multimedia-selected{
		margin-top: 0px;
	    margin-bottom: 0px;
	    position: absolute;
	    width: 100%;
	    border-top: 2px solid;
	    bottom: -16px;
    }
    .links-tab{
    	input{
    		border:none;
    	}
    }
    .link-text{
    	margin-left: 100px;
    }
    .add-link{
    	margin-top: 25px;
    	margin-bottom: 25px;
    }
    .added-link{
    	margin-left: 40px;
    }
    .link-input{
    	margin-left: 30px;
    	width: 380px;
    	height: 30px;
    	padding-left: 10px;
    	border-radius: 4px;
	    border: solid 0.7px rgba(252, 252, 252, 0);
	    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    }
    .edit-link-input{
    	margin-left: 100px;
    	width: 380px;
    	height: 30px;
    	padding-left: 10px;
    	border-radius: 8px;
        border: solid 0.5px;
   		background-color: #ffffff;
    }

    .add-image{
    	border-radius: 30px;
    }
    #file-upload-template {
    	display: none;
  	}
    .lmargin30{
    	margin-left: 30px;
    }
    .border-bottom{
    	width: 93%;
    	margin-left: 30px;
    	margin-right: 30px;
    	border-top:1px solid;
    }

    .asset-type{
		width: 120px;
		height: 4px;
		object-fit: contain;
		border-radius: 2px;
		margin-left: 20px; 
		margin-top: 15px;
    }
    .under-line {
		border-bottom: 1px solid;
	    margin-left: 30px;
	    padding-bottom: 25px;
	    margin-right: 20px;
    }
    .multimedia-tab{
    	margin-left: 30px;
    	margin-top: 30px;
    	margin-right: 30px;
    	padding-bottom: 0px;
    	border-bottom: 1px solid;
    }
    .multimedia-btn {
    border-radius: 28.4px;
    width: 150px;
    height: 40px;
    margin-left: 50px;
    border: 1px solid;
    margin-bottom: 30px
    }
    
    .drag-upload-file {
    	position: absolute;
	    width: 100%;
	    z-index: -1;
	    top: 51px;
    }
    #upload-doc-section {
	  	z-index: 1;
	  	.drag-upload-file {
	  		cursor: pointer;
	  		position: absolute;
	  		z-index: -1;
	  		width: 85%;
		    .svg-wrapper {
		    	div {
		    		z-index: -1;
		    	}
		    }
		    span {
		    	z-index: -1;
		    }
		}
	}
	#my-document-upload-zone .dz-preview {
		display: none;
	}
	.assets-photos {
		width: 98px;
		height: 101.3px;
		object-fit: contain;
		background: #ffffff;
		border: 1px solid #ffffff;
		border-radius: 12px;
	}
	div.react-thumbnail-generator {
		display: none;
	}

	.file-name {
		width: 98px;
    	overflow: hidden;
	}
	.play {
		margin-left: -70px;
	}

	div.react-thumbnail-generator>img {
    	width: 98px;
    	height: 101.3px;
	}
	.photo-list {
		margin-top: 28.3px;
	}
    #my-document-upload-zone{
    	height: 224px;
    border-radius: 16px;
    border: 5px dotted;
    margin-bottom: 20px;
    z-index: 1;
    	.svg-wrapper{
    		margin-top: 40px;
    	}
    }

    .configure-info{
    	margin-left: 30px;
    	margin-top: 20px;
    }
    .photos-container{
    	margin-left: 30px;
    	margin-right: 30px;
    	margin-top: 25px;
    }
    .content-scroll{
    	overflow-y: scroll;
    	height: 300px;
    }
    .align-right{
    	float: right;
    	padding-top: 10px;
    	margin-right: 10px;
    }
    .margin-top{
    	margin-top: 20px;
    }
    .topmargin{
    	margin-top: 10px;
    }
    .leftmargin{
    	margin-left: 23px;
    }
    .rightmargin{
    	margin-right: 10px;
    }
    .padding{
    	padding-left: 10px;
    	padding-right: 10px;
    }
    .paddingleft{
    	margin-left: 25px;
    }
    .row-content{
    	margin-left: 30px;
    	margin-right: 30px;
    }
    .heading{
    	font-size: 28px;
    }
	.close-button{
		border:0px;
		margin-top: 20px;
		margin-right: 20px;
	}
	.text-font12{
		font-size: 12px;
	}
}
@media (max-width: 480px){
	.hotellist-container{
		.align-status-text{
			padding-left: 0px;
		}
		.switch {
            width: 72px;
        }
        input:checked + .slider:before {
        	-webkit-transform: translateX(35px);
			-ms-transform: translateX(35px);
			transform: translateX(35px);
        }
	}
}
@media (min-width: 490px) and (max-width: 768px){
	.hotellist-container{
		.text-status{
			margin-left: 15px;
		}
	}
}

@media (min-width: 768px) and (max-width: 992px){
	.content-right{
		margin-right: 0px !important; 
		width: 90% !important; 
	}
}
@media (max-width: 768px){
	.content-right{
    	margin-right: 0px !important;
 	    margin-left: 0px !important;
	}
	.hotellist-container{
		.back-button{
			padding-left: 0px;
		}
		.hotel-list-main-content{
			margin-top: 20px;
		}
	}
}
@media (min-width: 768px) and (max-width: 1040px){
	.hotellist-container{
		.align-back-button{
			padding-left: 0px;
		}
	}
}
@media(max-width: 767px){
	.content-right{
		float: none !important;
		width: 100% !important;
	}
	.hotellist-container{
		.hotel-list-bt{
			margin-left: 0px;
		}
		.filter-by{
			margin-top: 16px !important;
			width: 146px;
		    border: none !important;
		    background: transparent;
		}
		.search-class{
			margin-top: 20px !important;
		}
		.filter-class{
			text-align: right !important;
		}
		.content-table-heading-2{
			float: none;
			width: 100%;
		}
		.content-table-heading-1{
			float: none;
			width: 100%;
		}
		.add-hotel{
			margin-bottom: 15px !important;
		}
		.hotel-name{
			p{
				font-size: 14px;
			    padding-bottom: 3px;
			    margin: 0px;
			}
		}
		.hotel-list-row{
		    margin-left: 20px;
    	    margin-right: 20px;
        }
		.hotel-detail{
		    padding: 10px;
		    font-size: 12px;
		    display: inline-block !important;
		    margin-top: 7px !important;
		}
		.switch{
			vertical-align: top !important;
			margin-top: -7px !important;
		}
	}
}
@media (max-width: 992px){
	.hotellist-container{
		.header-title{
            font-size: 18px;
	    }
	    .add-hotel{
	    	margin-top: 0px;
	    }
	}
}
@media (max-width: 1040px){
	.hotellist-container{
		.back-button{
        	margin-left: 0px;
        	padding-left: 0px;
        }
    }
}
