.block{
	display:block;
}
.i-block{
	display:inline-block;
}
.inline {
	display: inline;
}
.padding10{
	padding:10px;
}
.padding20{
    padding: 20px;
}
.bpadding5 {
	padding-bottom: 5px;
}
.lpadding10 {
	padding-left: 10px;
}
.lpadding15 {
	padding-left: 15px;
}
.lpadding0 {
	padding-left: 0px !important;
}
.lpadding5{
	padding-left: 5px;
}
.rpadding0{
	padding-right: 0px;
}
.rpadding10 {
	padding-right: 10px;
}
.tmargin5{
	margin-top: 5px;
}
.tmargin10{
	margin-top:10px;
}
.tmargin15{
	margin-top: 15px;
}
.tmargin20{
	margin-top: 20px;
}
.lmargin5{
	margin-left:5px;
}
.tmargin35{
	margin-top: 35px;
}
.lmargin10{
	margin-left:10px;
}
.lmargin15{
	margin-left:15px;
}
.lmargin20{
	margin-left:20px;
}
.lmargin25{
	margin-left:25px;
}
.lmargin27{
	margin-left:27px;
}
.lmargin40{
	margin-left: 40px;
}
.lmargin50{
    margin-left: 50px;
}
.lmargin105{
	margin-left: 105px;
}
.rmargin10{
	margin-right:10px;
}
.tpadding10 {
	padding-top: 10px;
}
.tpadding15{
	padding-top: 15px;
}
.tpadding20 {
	padding-top: 20px;
}
.tpadding25{
	padding-top: 25px;
}
.bpadding5{
	padding-bottom: 5px;
}
.bpadding10 {
	padding-bottom: 10px;
}
.bpadding20 {
	padding-bottom: 20px;
}
.bpadding120{
	padding-bottom: 120px;
}
.bmargin15{
	margin-bottom: 15px;
}
.bmargin20{
	margin-bottom:20px;
}
.bmargin10 {
	margin-bottom: 10px;
}
.rmargin20{
	margin-right:20px;
}
.tmargin20{
	margin-top:20px;
}
.tmargin25{
	margin-top:25px;
}
.tmargin50{
	margin-top:50px;
}
.padding100 {
	padding: 100px;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
.text-left{
	text-align:left;
}
.align-middle {
  vertical-align: middle;
}
.text-bold {
	font-weight: bold;
}
.text-font16 {
	font-size: 16px;
}
.text-font14 {
	font-size: 14px;
}
.text-font-10 {
	font-size: 10px;
}
.text-font-11 {
	font-size: 11px;
}
.text-font-12{
	font-size: 12px;
}
.text-font-15{
	font-size: 15px;
}
.text-font-18{
	font-size: 18px;
}
.text-font-20{
	font-size: 20px;
}
.text-font-20{
	font-size: 20px;
}
.text-font-22{
	font-size: 22px;
}
.text-font25 {
	font-size: 25px;
}
.text-font-28{
	font-size: 28px;
}
.text-border {
	border-bottom: 1px solid rgba(35, 27, 85, 0.8);
}
.fright{
	float:right;
}
.fleft{
	float:left;
}
.hide {
	display: none !important;
}
.white {
	color: #fcfcfc;
}
.violet {
	color: #231b55;
}
.black-text {
	color: #000000;
}
.color-white{
	color: #ffffff;
}
.white-text {
	color: #fcfcfc;
}
.opacity5 {
	opacity: 0.5;
}
.pointer {
	cursor: pointer;
}
.transform {
	transform: rotate(180deg);
}
.word-wrap{
	word-break: break-word;
}
.no-pointers {
	pointer-events: none;
	cursor: default;
}
.visible-pointers {
	pointer-events: visible;
}
.prelative{
	position: relative;
}
.pabsolute{
	position: absolute;
}
.bold{
	font-weight: bold;
}
.not-allowed {
	cursor: not-allowed;
}
.width50 {
	width: 50%;
}

.red-border {
  border: 1px solid #ff0000;
}

.white-border {
	border: 1px solid #fcfcfc;
}

.white-background {
  background: rgba(255, 255, 255, 0.75);
}

.visibilty-hidden {
	visibility: hidden;
}

a {
	color: inherit !important;
	text-decoration: none !important;
	&:hover {
		text-decoration: none;
	}
}

.individual-tab a button {
	color: inherit !important;
}

.textbox-width {
	width: calc(100% - 160px);
}

#hotel-map { position:absolute; top:0; bottom:0; width:95%; }
#property-map {
	/*background: url('https://api.iconify.design/simple-line-icons:location-pin.svg?color=%23ad0b3a&width=50&height=50') no-repeat center center;*/
	background-size: cover;
	cursor: pointer;
}

.mapbox-popup .close-icon{
	float:right;
	cursor: pointer;
}
.mapbox-popup .modal-body{
	height:400px;
}

.settings-container {
  position: relative;
  float: right;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.super-admin-color {
  color: #46d84f;
}

.manager-color {
	color: #3876ae;
}

.background-white {
	background-color: white;
}

.background-black {
	background-color: black;
}



