$dark-violet: #231b55;
/* Layout Customization */
.btn, .btn-default {
  &:focus, &:active{
    outline: none;
   /* background-color: transparent;
    border-color: $dark-violet;*/
  }
/*  &:hover {
    background: transparent;
  }*/
}
.layout-customization-container {
  .texture-info-container {
    z-index: 1;
  }
  width: 100%;
  #drag-image {
    position: absolute;
    z-index: 1001;
    top: 180px;
    right: 27%;
  }
  .choose-furniture-button {
    position: absolute;
    right: 13%;
    top: 50px;
    cursor: pointer;
    button {
      width: 360.5px;
      height: 59.9px;
      border-radius: 12px;
      box-shadow: 10px 5px 18px 0 rgba(0, 0, 0, 0.26);
      background: rgba(252, 252, 252, 0.26);
      color: #fcfcfc;
    }
    span {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
      font-size: 16.9px;
      font-weight: bold;
      position: absolute;
      text-align: center;
      top: 20px;
      left: 47px;
    }
    .fa-search {
      position: absolute;
      top: 17px;
      left: 312px;
      font-size: 24px;
    }
    .search-icon-color{
      color: #fcfcfc;
    }
  }
  .pre-set-button{
    position: absolute;
    bottom: 0px;
    left:41%;
    
    button{
      background-color: #eee;
      width: 245px;
      padding-top: 10px;
      font-size: 21.5px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .fa-angle-up{
      margin-left: 49px;
      font-size: 35px;
      vertical-align: top;
    }
  }
	.choose-furniture {
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
		padding: 20px;
    background: #fcfcfc;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5);
    .close-button {
			background: transparent;
    	border: none;
    	font-size: 20px;
    	&:hover, &:focus {
    		background: transparent;
    		outline: none;
    	}
    	&:active {
    		box-shadow: none;
    	}
    }
	}
  .choose-configuration {
    height: auto;
    position: fixed;
    z-index: 1;
    top: 17px;
    right: 10%;
    left: 7%;
    width: 87%;
    padding: 10px 20px 16px 20px;
    opacity: 0.95;
    border-radius: 21px;
    box-shadow: 0 -3px 9px 0 rgba(0, 0, 0, 0.16);
    background-color: #f1f1f1;
    .close-button {
      background: transparent;
      border: none;
      font-size: 20px;
      color: $dark-violet;
      &:hover, &:focus {
        background: transparent;
        outline: none;
      }
      &:active {
        box-shadow: none;
      }
    }
    .disabled-config{
      opacity: 0.43;
    }
    .select-configure-title{
      font-size: 34px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .tmargin50{
      margin-top: 50px;
    }
    .tmargin30{
      margin-top: 30px;

    }
    .bmargin30{
      margin-bottom: 30px;
    }
    .tmargin80{
      margin-top: 80px;
    }
    .config-div {
      .layout-img {
        svg {
          height: 46px;
        }
      }
    }
    .layout-btn {
      width: 100%;
      border-color: transparent;
      padding: 20px 0px;
      background: transparent;
    }
    .config-title{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.31;
      letter-spacing: normal;
      text-align: center;
    }
    .maximum-persons{
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
    }
    hr{
      margin-top: 0px;
      margin-bottom: 8px;
      border-top: 2px solid #0f0f0f;
      opacity: 0.43;
      width: 80%;
    }
    .border-right{
      border-right: 2px solid #b5b6b6;
    }
    .config-label{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.34;
      letter-spacing: normal;
    }
    .config-setup-btn{
      width: 56%;
      height: 37.5px;
      border-radius: 3px;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
      background-color: #ffffff;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      margin-left: 10px;
      float: right;
      margin-bottom: 20px;
      text-transform: capitalize;
      .fa-angle-down{
        font-size: 30px;
        float: right;
        margin-top: -4px;
      }
    }
    .create-own-config{
      /*width: 250px;*/
      height: 184px;
      border-radius: 16px;
      background: #d8d8d859;
      text-align: center;
      .fa-plus{
        margin-top: 48px;
        margin-left: 91px;
        color: #fff;
        border-radius: 100px;
        width: 36px;
        height: 35px;
        padding: 10px 10px 10px 10px;
      }
      .create-own-btn{
      }
      img{
        margin-top: 40px;
      }
    }
    .done-configuration{
      height: 56px;
      width: 156px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      border-radius: 28.4px;
      text-align: center;
      border: 1px solid;
      float: right;
      margin-top: 50px;
    }
    .config-operation{
      hr{
        border-top: 1px solid;
        width: 100%;
        opacity: 1;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .chair-count, .table-count{
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: normal;
      float: right;
      margin-top: 5px;
    }
    .config-chairs-btn, .config-table-btn{
      width: 79.9px;
      height: 29.6px;
      border-radius: 14.6px;
      float: right;
      border:1px solid;
      padding: 6px 0px;

      .fa{
        font-size: 18px;
      }
      .fa-minus{
        padding: 0px 9px;
        border-right: 1px solid;
      }
      .fa-plus{
        padding: 0px 9px;
      }
    }
  }
	.select-furniture {
		.select-furniture-text {
      padding: 10px 20px;
	    font-size: 22px;
      font-weight: bold;
    }
    .fa-search {
      position: absolute;
      right: 37px;
      top: 12px;
      font-size: 25px;
    }
    .find-furniture {
      border: 2px solid;
    }
    input {
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 16px; 
        font-weight: bold; 
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 16px; 
        font-weight: bold;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 16px; 
        font-weight: bold; 
      }
    }
	}
  .properties-button {
    margin-left: 5px;
    button {
      font-weight: bold;
      border-radius: 3px;
      padding: 0px 13px;
      font-size: 12px;
      margin: 12px 8px;
      text-transform: capitalize;
      &:active, &:focus, &:hover {
        background: transparent;
        box-shadow: none;
      }
    }
    button.highlight-background {
      color: #fcfcfc;
    }
  }
  .added-furnitures-container {
    font-size: 10px;
    padding-left: 13px;
    .added-furnitures {
      overflow: auto;
      white-space: nowrap;
      box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.03);
      background: #fcfcfc;
      img {
        padding: 0 10px;
        height: 100%;
        width: 100%;
        max-width: 90px;
      }
    }
  }

  .properties-container {
    /*height: 300px;*/
    overflow: auto;
    max-height: 60vh;
    /*margin-top: 20px;*/
    .property-details {
      text-align: center;
      padding-left: 0px;
      .added-count {
        position: absolute;
        top: 20px;
        right: 28px;
        width: 28.4px;
        height: 27.6px;
        border-radius: 14.6px;
        span {
          color: #fcfcfc;
          padding: 6px;
          display: inline-block;
          font-size: 11.3px;
          font-weight: bold;
        }
      }
    }
    .empty-furniture-msg {
      text-align: center;
      padding: 50px;
    }
    .property-details:last-child{
      padding-bottom: 100px;
    }
    .add_properties {
      border-radius: 14.6px;
      margin: auto;
      max-width: 180px;
      span {
        font-size: 11.3px;
        line-height: 1.57;
        padding-left: 10px;
        padding-right: 20px;
      }
      button {
        background: transparent;
        border: none;
        margin: 2px 0px;
        padding: 0px 12px;
      }
      .plus {
        background: transparent;
        border-right: 1px solid; 
        border-radius: 0px;
      }
    }
  }
  
	input {
    padding: 14px;
    padding-left: 43px;
    width: 100%;
    border-radius: 12px;
    &:focus {
      outline: none;
    }
	}
}
@media(max-width: 992px) and (min-width: 768px){
  .choose-configuration{
    height: 80vh !important;
    overflow-y: auto;
  }
  .create-own-config{
    margin-left: 28% !important;
  }
}
@media(max-width: 767px){
  .mobile-inline{
    display: inline-block !important;
  }
  .layout-header-tab-container{
    #scene-2d-container{
      /*bottom: 35px !important;*/
    }
    .zoom-slider-container{
      /*top:auto !important;
      left: 10px !important;
      bottom: 102px !important;*/
    }
    #full-view-btn{
      top: 30px !important;
      left: 30px !important;
      width: 37px;
      padding-left: 11px;
      img{
        height: 33px !important;
      }
    }
  }
  #scene-3d-btn{
    /*bottom: 44px;*/
  }
  #dollhouse-view-btn{
    /*bottom: 37px;*/
  }
  .close-floor-button{
    right: 30px !important;
    top:3px !important;
  }
  .layout-customization-container{
    .choose-furniture-button{
      right: 24px;
      top: 0px;
      span{
        top:15px;
        left: 40px;
        font-size: 12px;
      }
      .fa-search{
        left: 160px;
        font-size: 16px;
      }
      button{
        width: 173px;
        height: 49px;
      }
    }
    .config-operation{
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .config-label{
      font-size: 14px !important;
    }
    .chair-count{
      font-size: 15px !important;
    }
    .pre-set-button{
      left: calc(50% - 70px);
      bottom: 3px;
      transform: scale(1.3);
      button{
        width: auto;
        font-size: 15px;
        .fa-angle-up{
          margin-left: 15px;
          margin-top: -10px !important;

        }
      }
    }
    .properties-container .property-details:last-child {
        padding-bottom: 200px;
    }
    .choose-configuration{
        max-height: 97% !important;
        overflow-y: auto !important;
      .select-configure-title{
        font-size: 19px;
      }
    }
  }
}

/* Alignment with sidebar */
@media (min-width: 992px) and (max-width: 1200px){
  .align-content-right{
    .layout-customization-container{
      .align-search-button{
        button {
          width: 300px !important;
        }
        .fa-search{
          left: 260px;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1100px){
  .align-content-right{
    .layout-customization-container{
      .choose-furniture-button{
          right: 15% !important;
      }
    }
  }
}
@media (min-width: 1100px) and (max-width: 1200px){
  .align-content-right{
    .layout-customization-container{
      .choose-furniture-button{
          right: 13% !important;
      }
    }
  }
}
@media (min-width: 1200px) and (max-width: 1300px){
  .align-content-right{
    .layout-customization-container{
      .align-search-button{
        button {
          width: 310px !important;
        }
        .fa-search{
          left: 270px;
        }
      }
    }
  }
}

@media (min-width: 1300px) and (max-width: 1500px){
  .align-content-right{
    .align-search-button{
      button {
        width: 320px !important;
      }
      .fa-search{
        left: 260px;
      }
    }
  }
}

@media (max-width: 768px) {
  .pre-set-button{
    display: block!important;
  }
}

@import './popups/textureInfo';
