/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 480px) { 
	.meeting-room:nth-child(3n+1) {
	  clear: left;
	}
	.room_setup button li:before, .submit_rfp button li:before {
		height: 70.1% !important;
	}
	.layout-customization-container .choose-furniture {
    height: 65vh;
    width: auto;
    top: auto;
    bottom: 0;
	}
	.mob-view {
		font-size: 10px !important;
	}
	.tooltip-info {
		padding: 0px 10px !important;
	}
	.tooltip-info-rotate {
	    padding-right: 10px !important;
	}
	.minwidth{
		min-width:100px !important;
	}
	.layout-customization-container .select-furniture .select-furniture-text {
		font-size: 17px;
	}
	.layout-customization-container input {
		padding: 6px;
	}
	.layout-customization-container .properties-button button {
		margin: 7px 2px;
		padding: 0px 13px;
	}
	.layout-customization-container #drag-image {
		top: 85px;
    right: 0;
	}
	.layout-header-tab-container .close-floor-button {
		right: 2px !important;
	}
	.tooltip-container.left-margin {
		margin-left: 0px !important;
	}
	.layout-header-tab-container #full-view-btn {
		left: 30px !important;
	}
	.layout-header-tab-container .zoom-slider-container.top-position {
		top: 50px !important;
	}
	.layout-customization-container .select-furniture .fa-search {
		top: 5px;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.layout-header-tab-container .zoom-slider-container.top-position {
		top: 0px !important;
	}
}


@media (max-width: 576px) { 
	.meeting-room:nth-child(3n+1) {
	  clear: left;
	}
	.room_setup button li:before, .submit_rfp button li:before {
		height: 70.5% !important;
	}
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
	.meeting-room:nth-child(3n+1) {
	  clear: left;
	}
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {
	.meeting-room:nth-child(3n+1) {
	  clear: left;
	}
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {
	.meeting-room:nth-child(3n+1) {
	  clear: left;
	}
}

@media (min-width: 1200px) and (max-width: 1430px) {
	.meeting-room:nth-child(3n+1) {
	  clear: left !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.meeting-room:nth-child(2n+1) {
	  clear: left !important;
	}
}


@media (min-width: 1431px){
	.meeting-room:nth-child(4n+1) {
	  clear: left !important;
	}
}

@media (max-width: 1500px) {
	.room-setup-3d-container {
		max-width: 1190px;
	}
	.selected-meeting-room-list {
		max-width: 1190px;
	}
	.row.tab-container {
		max-width: 1195px;
	}
	.row.header-container {
		max-width: 1200px;
	}
}
