.user-profile-container{
	.back-button{
		margin-top: 20px;
		margin-left: -45px;
		font-size: 15px;
		border-width: 0px;
		color: inherit;
	}
	.content-right{
        width: 80%;
	    float: right;
	    margin-left: 20px;
	    margin-right: 5%;
	}
	.header-user-info{
		margin-top: 30px;
	}
	.main-content{
		margin-top: 20px;
    	bottom: 0;
		background-image: linear-gradient(154deg, #f0f0f0, #fafafa);
	}
	.content-details{
		margin-top: 10px;
	}
	.bpadding100{
		padding-bottom: 100px;
	}
	.padding-heading{
		padding-top: 10px;
        padding-bottom: 10px;
	}
	.dropdown-background{
		margin-top: 20px;
		border-radius: 8px;
		background-color: #ffffff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
		border-radius: 8px;
	}
	.hotel-dropdown{
		width: 98%;
	    padding: 7px;
	    background-color: #ffffff;
        border: solid 0px #ffffff;
	    appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
        -o-appearance: none;
        outline: none;
		background:url("/dist/img/event_list/dropdown-arrow-black.png");
		background-position: right;
		background-size:20px 8px;
		background-repeat: no-repeat;
	}
	.button-back{
		width: 120px;
        border-radius: 27px;
        padding: 12px;
	}
	.options-font-color{
		color: #4a4a4a;
	}
	.user-image-big {
		padding: 17px;
	    margin-top: 5px;
	    margin-left: 10px;
	    margin-right: 10px;
	    background-color: #0b9fad;
	    color: white;
	    border-radius: 100%;
	}
	.empty-user-profile {
	    text-align: center;
	    padding: 62px;
	}
	.edit-input-field{
		padding: 5px;
		padding-left: 10px;
		border-radius: 6px;
		width: 100%;
	}

	@media (max-width: 992px){
		.align-column{
			margin-top: 20px;
		}
		.text-align-mobile{
			padding-left: 0px;
		}
	}
	@media (max-width: 768px){
		.content-right{
		   margin-right: 0px;
		   width: 100%;
		}
	}
	@media (min-width: 768px) and (max-width: 992px){
		.content-right{
			margin-right: 0px;
			width: 90%;
		}
	}
	@media (max-width: 1040px){
        .back-button{
		   margin-left: 0px;
	    }
	} 
}