.user-list-container{
	.main-content{
		margin-top: 20px;
    	bottom: 0;
		background-image: linear-gradient(154deg, #f0f0f0, #fafafa);
	}
	.header-title{
		margin-top: 10px;
		padding-top: 5px;
	}
	.row-title{
		margin-top: 20px;
	}
	.heading{
		font-size: 28px;
	}
	.back-button{
		margin-top: 20px;
		margin-left: -45px;
		font-size: 15px;
		border-width: 0px;
		color: inherit;
	}
	.list-event{
    	margin-bottom: 10px;
    	vertical-align: middle;
    	margin-left: 10px;
    	margin-right: 10px;
    	margin-top: 10px;
    	border: 0px solid #ffffff;
    	border-radius: 2px;
    	display: flex;
    	vertical-align: middle;
	}
	.user-name {
		width: 40px;
	    height: 40px;
	    display: inline-block;
	    background-color: #0b9fad;
	    border-radius: 100%;
	    text-align: center;
	    color: #ffffff;
	    padding-top: 10px;
	}
	.display-contents{
	    width: 100%;
	    display: flex;    	
	    background-color: #ffffff;
    	padding: 10px 10px;
    	min-width: auto;
    	vertical-align: middle;
    	border: solid 0.7px rgba(252, 252, 252, 0);
    	border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	}
	.heading-width{
		width: 60%;
	}
	.border-search-bar{
		border-radius: 6px;
	}
	.svg-wrapper{
		padding-left: 6px;
	}
	.find-text{
		width: 100%;
	    border-radius: 6px;
		text-align: center;
		border: 0px;
		padding-top: 6px;
		padding-bottom: 6px;
		outline: none;
	}
	input[type="text"]::placeholder{
		font-weight: bold;
	}
	.empty-user-msg {
	  text-align: center;
	  padding: 100px;
	  border-radius: 4px;
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	  border: solid 0.7px rgba(252, 252, 252, 0);
	  background-color: #ffffff;
	}
	.svg-wrapper.transform {
		span {
			svg {
				transform: rotate(180deg);
			}
		}
	}
	.arrow-toggle{
		transform: rotate(180deg);
		margin-right: -6px;
        margin-top: 3px;
	}
	.sort-by{
		padding: 10px;
		font-size: 12px;
	}
	.sort-by:before{
		content: " ";
   		display: block;
	    width: 100%;
	    height: 86%;
        transform-origin: left top;
	    -webkit-transform: skew(-24deg);
	    -moz-transform: skew(-24deg);
	    -ms-transform: skew(-24deg);
	    -o-transform: skew(-24deg);
	    transform: skew(-24deg);
	    border-top-left-radius: 6px;
	    background-color: #f0f0f0;
	    position: absolute;
	    margin-left: 10px;
	}
	.sort-by-option{
		padding: 10px;
		position: relative;
	}
	.sorting-dropdown{
		width: 50%;
		position: relative;
		margin-top: 7.5px;
		appearance:none;
		outline: none;
		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
        -o-appearance: none;
		background-color: #00000000;
		background:url("/dist/img/meeting_space/icons/arrow-down.svg");
		background-size:12px 7px;
		background-repeat: no-repeat;
		background-position-x: 80px;
		background-position-y: 7px;
        border: 0px;
        padding: 2px;
	}
	.email{
		margin-top: 5px;
	}
	.delete-button{
		margin-top: 5px;
	}
	.userrole{
		margin-top: 5px;
	}
	.dropdown-arrow{
		z-index: 1;
        position: relative;
	}
    .align-content{
        margin-left: 4px;
    }
    .align-username{
    	margin-left: 0px;
    	margin-right: 0px;
    }
    .site-footer{
    	/*position: fixed;*/
    	/*position: absolute;*/
        bottom: 0;
    }
	@media (max-width: 792px){
		.back-button{
		   margin-left: 0px;
	    }
	    .email{
			margin-top: 0px;
		}
		.delete-button{
			margin-top: 0px;
		}
		.userrole{
		    margin-top: 0px;
	    }
	    .display-contents{
	    	display: inline-block;
	    }
	}
	@media (max-width: 767px){
        .row-details-mobile-view{
	    	display: inline-block;
	    }
	    .main-content{
		   margin-top: 0px;
	    }
	}
	@media (min-width: 768px){
		.row-details-mobile-view{
		    display: none !important;
	    }
	}
	@media (min-width: 768px) and (max-width: 992px){
		.content-right{
			margin-right: 0px;
			width: 90%;
		}
	}
	@media (min-width: 992px){
		.content-right{
	        width: 80%;
		    float: right;
		    margin-left: 20px;
		    margin-right: 5%;
	    }
	}
	@media (max-width: 992px){
		.heading{
			font-size: 18px;
			margin-top: 18px;
		}
	}
	@media (min-width: 768px) and (max-width: 1230px){
		.align-content{
		    margin-top: 4px;
            margin-left: 6px;
            float: none;
        }
	}
	@media (max-width: 1040px){
        .back-button{
		   margin-left: 0px;
	    }
	} 
}