.create-hotel-brand-list-container{
	.main-content{
    	bottom: 0;
		background-image: linear-gradient(154deg, #f0f0f0, #fafafa);
        padding-bottom: 180px;
	}
	.content-right{
        width: 80%;
	    float: right;
	    margin-left: 20px;
	    margin-right: 5%;
	}
	.back-button{
		margin-top: 20px;
		margin-left: -45px;
		font-size: 15px;
		border-width: 0px;
	}
	.color-picker{
		position: absolute;
    	z-index: 1;
    	margin-top: 5px;
    	cursor: pointer;
    	right: -50px;
	}
	.primary_color{
		cursor: pointer;
	}
	.secondary_color{
		cursor: pointer;
	}
	.cross-line{
		width: 86px;
		height: 22px;
		border-bottom: 2px solid red;
		-webkit-transform: translateY(20px) translateX(6px) rotate(-18deg);
		position: absolute;
		top: -28px;
		left: -13px;
	}
	#datalist{
		height: 150px;
        list-style: none;
        overflow-y: scroll;
	}
	.align-content-city{
		padding-left: 0px;
        padding-right: 0px;
	}
	.align-content-zip-code{
        padding-right: 0px;
	}
	.popup-content {
		height: 200px;
		width: 300px !important;
	}
	.font-search-input-main{
		width: 90%;
		border: 0;
		padding: 3px;
	}
	.font-search-input{
		border: 1px solid #303b7080;
	}
	input[type="text"]:focus {
		border-color: rgba(48, 59, 112, 0.3);
    	outline: 0;
	}
	input[placeholder]{
		text-overflow: ellipsis;
	}
	.font-search-input-secondary{
		width: 90%;
		border: 0;
		padding: 3px;
	}
	.font-selector{
		cursor: pointer;
	}
	.list-event{
    	margin-bottom: 10px;
    	vertical-align: middle;
    	margin-left: 10px;
    	margin-right: 10px;
    	margin-top: 10px;
    	border: 0px solid #ffffff;
    	border-radius: 2px;
    	display: flex;
    	vertical-align: middle;
	}
	.logo-file-name{
		margin-left: 25px;
	}
	.display-contents{
	    width: 100%;
	    display: flex;    	
	    background-color: #ffffff;
    	padding: 20px 10px;
    	min-width: auto;
    	vertical-align: middle;
    	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
	}
	.input-brand-name{
		width: 100%;
		border-radius: 8px;
		padding: 3px;
		padding-left: 10px;
		outline: 0;
	}
	.input-color{
		padding: 5px;
	}
	.lmargin45{
		margin-left: 45px;
	}
	.shadow{
		padding: 4px;
		border-radius: 6px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	}
	.background-light{
        background-color: #eeeeee;
        color: #000000;
        padding: 4px;
        text-align: center;
	}
	.background-dark{
        background-color: #4a4a4a;
        color: #ffffff;
        padding: 4px;
        text-align: center;
	}
	.delete-primary-color{
		cursor: pointer;
	}
	.background-main{
        /*background-color: #b67a00;*/
        color: #ffffff;
        padding: 5px;
		border-radius: 6px;
	}

	.required-field {
		border: 2px solid red;
	}
	
	.background-cross{
		background: linear-gradient(to top left, rgba(255,0,0,0) 0%, rgba(255,0,0,0) calc(50% - 0.8px), rgba(255,0,0,1) 50%, rgba(255,0,0,0) calc(50% + 0.8px), rgba(255,0,0,0) 100%);
	}
	.background-secondary{
        /*background-color: #96accd;*/
        color: #ffffff;
        padding: 5px;
		border-radius: 6px;
		overflow-x: hidden;
	}
	/*.drag-upload-file{
		border: 2px dashed;
		border-radius: 20px;
		padding: 20px;
	}*/
    #upload-doc-section {
	  	z-index: 1;
	  	.drag-upload-file {
	  		cursor: pointer;
	  		position: absolute;
	  		z-index: -1;
	  		width: 85%;
		    .svg-wrapper {
		    	div {
		    		z-index: -1;
		    	}
		    }
		    span {
		    	z-index: -1;
		    }
		}
	} 
	#file-upload-template{
		display: none;
	}
	#my-document-upload-zone{
		border: 2px dashed;
	    border-radius: 20px;
	    padding: 20px;
	    min-height: 150px;
	    margin-bottom: -130px;
	    z-index: 1;
        cursor: pointer;
        .dz-preview {
    	  .dz-details {
		    font-size: 18px;
      	  .dz-remove {
			    font-size: 23px;
    			padding-left: 20px;
    		}
    	  }
        }
	}
	.svg-wrapper{
		padding-left: 6px;
	}
	.rpadding0{
		padding-right: 0px;
	}
	.font-color-hint{
		color: #4a4a4a;
	}
	.dflex{
		display: flex;
	}
	.button-done{
		width: 120px;
        border-radius: 27px;
        padding: 12px;
	}
	.button-substitute{
		padding: 4px 12px;
		border-radius: 6px;
	}
	.country-dropdown-background{
		height: 30px;
    	background-color: #ffffff !important;
        border-radius: 8px;
        padding-right: 10px;
	}
	.profile-country{
		width: 100%;
	    padding-left: 10px;
	    outline: 0;
	    border: 0px !important;
    	appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
        -o-appearance: none;
		background:url("/dist/img/meeting_space/icons/arrow-down.svg");
		background-size:12px 7px;
		background-repeat: no-repeat;
		background-position: right;
	}
	.add-logo-background{
		background-color: #ffffff;
	}
	.add-logo-padding{
		padding-left: 3px;
        padding-right: 3px;
    }
    .wrap-text{
    	white-space: normal;
    }
    .header-title{
    	font-size: 28px;
    }

    @media (max-width: 768px){
        .popup-content {
		    height: 200px;
		    width: 250px !important;
		    left: -123px !important;
	    }
	    .content-right{
		   margin-right: 0px;
		   width: 100%;
		}
	}
	@media (min-width: 768px) and (max-width: 992px){
		.display-contents{
			display: inline-block;
		}
		.dflex{
			display: block;
		}
		.content-right{
			margin-right: 0px;
			width: 90%;
		}
	}
	@media (min-width: 480px) and (max-width: 768px){
		.display-contents{
			display: inline-block;
		}
		.dflex{
			display: block;
		}
	}
	@media (max-width: 480px){
		.display-contents{
			display: inline-block;
		}
		.dflex{
			display: block;
		}
	}
	@media (max-width: 991px){
	    .column-header{
	       margin-left: 20px;
	       margin-top: 30px;
	    }
	    .main-content{
	       padding-bottom: 0px;
	    }
	    .header-title{
    	   font-size: 18px;
        }
        .column-background{
        	background-image: linear-gradient(175deg, #f0f0f0, #fafafa);
        	border: 0px;
        	padding: 15px;
        	margin-top: 15px;
        }
        .main-content{
        	background-image: unset;
        }
        .list-event{
            margin-left: 0px;
            margin-right: 0px;
        }
        .display-contents{
        	box-shadow: none;
        	padding: 0px;
        }
        .add-logo-background{
        	margin-top: 10px;
        }
        .back-button{
        	margin-left: 0px;
        }
        .button-done{
        	width: 100%;
        }
        .align-content-zip-code{
        	margin-top: 10px;
        	padding-left: 0px;
            padding-right: 0px;
        }
	}
	@media (min-width: 993px) and (max-width: 1040px){
		.back-button{
        	margin-left: 0px;
        }
	}
	@media (min-width: 992px) and (max-width: 1210px){
		.no-padding{
			padding-left: 5px;
			padding-top: 3px;
		}
		.align-button-ipad{
			margin-right: 12px;
		}
	}
	@media (min-width: 992px){
		.align-button{
			padding-right: 0px;
			padding-left: 0px;
		}
	}
}