.capacity-chart-room-container.row {
	max-width: 1360px;
}
.capacity-chart-room-container {
	.filter-container {
		padding-right: 5px;
		padding-left: 6%;
	}
	.overlay {
		left: -5%;
	}
	.lrpadding0{
		padding-left: 0;
		padding-right: 0;
	}
	.rpadding0{
		padding-right: 0;
	}
	.lmargin3{
		margin-left: 3px;
	}
	.capacity-col-disabled{
		opacity: 0.5;
		cursor: default;
	}
	.capacity-chart-header{
		border-radius: 8px;
		box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.03);
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.23), #ffffff);
		margin-right: 0px;
		margin-top: 65px;
		.meeting-list-col{
			padding: 33px 0px 0px 0px;
			border-right: 1px solid;
			height: 120px;
			cursor: pointer;
			.setup-img, .setup-img svg {
				height: 34px;
				width: auto;
			}
			.header-shape {
				padding-top: 10px;
			}
			.arrow-icon {
				height: 6px;
				padding-left: 10px;
				svg {
					height: 6px;
					width: auto;
					transform: rotate(0deg);
				}
			}
			.arrow-icon.transform {
				svg {
					transform: rotate(180deg);
				}
			}
		}
		.meeting-list-col:first-child{
			border-right: transparent;
			/*width: 200px;*/
		}
		.meeting-list-col:last-child{
			border-right: transparent;
		}
	}
	/*.custom-scrollbar::-webkit-scrollbar{
		width: 8px;
		height: 8px;
		background-color: #FBFBFB;
	}
	.custom-scrollbar::-webkit-scrollbar-thumb{
		width: 8px;
		height: 8px;
		background: #858585;
	}*/
	.capacity-chart-content{
		max-height: 770px;
		overflow-y: auto;  // For Firefox and IE
		overflow-y: overlay;  // For webkit
		.meeting-room-thumbnail{
			position: absolute;
			right: 0;
			top: 0;
			object-fit: cover;
			left: 0;
			width: 100%;
			height: 120px;
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;
			padding-bottom: 6px;
		}
		.meeting-list-col{
			border-right: 1px solid;
			height: 120px;
			padding-top: 18px;
			font-weight: bold;
			color: #000000;
			font-size: 16px;
			.person-image{
				width: 15px;
				padding-left: 10px;
			}
		}
		.meeting-list-col:first-child{
			border-right: transparent;
			/*width: 200px;*/
			.capacity-col{
				background: transparent;
				padding:0px;
			}
		}
		.meeting-list-col:last-child{
			border-right: transparent;
			.capacity-col{
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				margin-right: 20px;
			}
		}
		.capacity-col{
			padding: 35px 0px;
			border-radius: 0px;
			background: rgba(233, 225, 225, 0.66);
			.checkmark-img{
				position: absolute;
				width: 15px;
				top: 22px;
				right: 10px;
				border-radius: 89px;

				svg {
					width: 100%;
					height: auto;
				}
			}
			.checkmark-img-selected {
				position: absolute;
				width: 25px;
				border-radius: 22px;
				top: 26px;
				right: -11px;
				z-index: 1;
				svg {
					width: 100%;
					height: 100%;
				}
			}
			.eye-icon {
				position: absolute;
				width: 40px;
				bottom: 21px;
				right: -21px;
				z-index: 1;
				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
		.room-name{
			color: #fcfcfc;
			opacity: 0.99;
			font-weight: bold;
			font-size: 16px;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.76);
			text-align: left;
			padding: 10px;
			margin-top: 0px;
			margin-left: -9px;
		}
		.capacity-info{
			text-align: left;
			position: absolute;
			left: 10px;
			img{
				opacity: 0.99;
				left: 0;
			}
			span{
				font-weight: normal;
				opacity: 0.8;
				font-size: 16px;
				color: #fcfcfc;
				padding-left: 10px;
				text-shadow: 0 2px 4px rgba(0, 0, 0, 0.76);
			}
		}
	}

	.table thead {
		border-radius: 8px;
		box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.03);
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.23), #ffffff);
		tr.capacity-chart-header {
			td.meeting-list-col {
				padding: 10px;
				padding-top: 20px;
			}
			td {
				max-width: 70px;
				opacity: 1;
				border-right: 1px solid;
				border-top: transparent;
				height: 100px;
				width: 11%;
				vertical-align: middle;
				img {
					padding-top: 10px;
				}
			}
			td:last-child, td:first-child {
				border-right: transparent;
			}
		}
	}
	.table tbody {
		display: block;
		overflow: auto;
		height: 400px;
		tr {
			.meeting-room-thumbnail {
				position: absolute;
				right: 0;
				top: 0;
				width: 200px;
				height: 120px;
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;
				padding-bottom: 6px;
			}
			td {
				padding: 0px;
				height: 120px;
				vertical-align: middle;
				font-weight: bold;
				color: #000000;
				font-size: 16px;
				width: 11%;
				border: transparent;
				border-right: 1px solid;
				border-top: transparent;
				position: relative;
				button {
					display: inline-block;
					width: 100%;
					height: 100%;
					border: transparent;
					font-weight: bold;
					color: #000000;
					font-size: 16px;
					border-radius: 0;
					padding: 0;
				}
				.capacity-col {
					padding: 35px 20px;
					border-radius: 0px;
					background: rgba(233, 225, 225, 0.66);
					.checkmark-img {
						position: absolute;
						width: 15px;
						top: 18px;
						right: 10px;
						border-radius: 89px;
						svg {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
			td:last-child, td:first-child {
				border-right: transparent;
			}
			td:last-child{
				.capacity-col{
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					margin-right: 15%;
				}
			}
			td:first-child {
				background: transparent;
				position: relative;
				width: 202px;
				.capacity-col {
					padding: 0px;
					width: 202px;
					.room-name {
						color: #fcfcfc;
						opacity: 0.99;
						font-weight: bold;
						font-size: 16px;
						text-shadow: 0 2px 4px rgba(0, 0, 0, 0.76);
						text-align: left;
						padding: 10px;
					}
					.capacity-info {
						text-align: left;
						position: absolute;
						left: 10px;
						img {
							opacity: 0.99;
							left: 0;
						}
						span {
							font-weight: normal;
							opacity: 0.8;
							font-size: 16px;
							color: #fcfcfc;
							padding-left: 10px;
							text-shadow: 0 2px 4px rgba(0, 0, 0, 0.76);
						}
					}
					.checkmark-img-selected {
						position: absolute;
						width: 25px;
						border-radius: 22px;
						top: 26px;
						right: -11px;
						z-index: 1;
					}
					.eye-icon{
						position: absolute;
						width: 40px;
						bottom: 21px;
						right: -21px;
						z-index: 1;
						svg {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
		.person-image {
			width: 15px;
			padding-left: 10px;
		}
	}
}
@media(min-width: 768px) and (max-width: 992px){
	.capacity-chart-room-container{
		.capacity-chart-header{
			font-size: 12px !important;
			.meeting-list-col{
				height: 94px;
				.setup-img, .setup-img svg{
					height: 23px;
					width: auto;
				}
			}
		}
		.capacity-chart-content{
			.capacity-col{
				font-size: 12px !important;
			}
			.room-name{
				font-size: 12px;
				margin-top: 8px;
			}
			.capacity-info{
				span{
					font-size: 13px;
				}
			}
			.meeting-list-col:last-child{
				.capacity-col{
					margin-right: 0px;
				}
			}
		}
	}
	.align-content-right{
		.capacity-chart-room-container{
			.meter-feet-toggle{
				padding-right: 3%;
			}
			.filter-container{
				padding-left: 0%;
			}
		}
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	.capacity-chart-header{
		margin-right: 32px !important;
	}
}
