.btn, .btn-default {
	background-color: transparent;
	&:hover, &:focus, &:active {
		background-color: transparent;
		box-shadow: none;
	}
	&:focus {
		outline: none;
		box-shadow: none;
	}
	&:active {
		&:focus {
	    background-color: transparent;
    	outline: none;
		}
	}
	img {
		&:focus {
			outline: none;
		}
	}
}

.btn.active:focus {
	outline: none;
}

tr.no-box-shadow {
	box-shadow: none;
}


.add-items-wrapper {
	td:first-child {
		border-bottom-left-radius: 20px;
	}
	td:last-child {
    border-bottom-right-radius: 20px;
	}
	.add-items {
    text-align: left;
  	padding: 15px 8px 30px 8px;
  	.new-meeting-room {
      margin-left: 7%;
      cursor: pointer;
      transform: scale(0.9);
      margin-top: -30px;
      text-decoration: none;
  	}
		.add-image {
			border-radius: 30px;
		}
		span {
	    padding-left: 18px;
			font-size: 18px;
		}
	}
}

@media (min-width: 1500px){
  .add-items-wrapper .add-items .new-meeting-room{
    margin-left: 12%;
  }
}
.delete-btn {
	border: transparent;
}
.gray-bg-btn {
	background-color: #686868;
	&:hover, &:active {
		background-color: #686868;
	}
}
.white-text-btn {
	color: #fcfcfc;
	&:hover, &:focus, &:active, &:active:hover {
		color: #fcfcfc;
	}
}
.alert {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
  position: fixed;
  top :10px;
  padding: 8px 20px;
  right: 35%; 
  font-size:18px;
  z-index: 1000; 
  background: rgba(51, 51, 51, 0.86);
  color: #fcfcfc;
  border: transparent;
  span {
  	color: #fcfcfc;
  }
}
.add-image {
  border-radius: 30px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 50px;
    padding-right: 20px;
    cursor: pointer;
    line-height: 25px;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
  	background: #93959830;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.overlay {
  position: absolute;
  display: block;
  width: 87%;
  height: 100%;
  left: -36%;
  top: 0;
  z-index: -2;
  border-top-left-radius: 64px;
  background: rgba(173, 11, 58, 0.04);
  transform-origin: bottom left;
  -ms-transform: skew(-44deg, 0deg);
  -webkit-transform: skew(-44deg, 0deg);
  transform: skew(-44deg, 0deg);
}
.react-bootstrap-daterangepicker-container{
  border-radius: 8px;
  box-shadow: inset 0px 1px 1px 1.5px rgba(0, 0, 0, 0.075);
  display: inline-block;
  button {
    height: 34px;
  }
}

.daterangepicker {
  table {
    tbody {
      tr {
        td.disabled, option.disabled {
          text-decoration: none;
          background: #eeeeee;
          border-radius: 0;
        }
      }
    }
  }
}


/* Style for the lightbox */
.alert-confirmation-popup {
  .modal-dialog {
    top: 23%;
    width: 430px;
  }
  .modal-content {
    font-size: 16px;
    border-radius: 16px;
    background-color: #f5f5f5;
    max-width: 430px;
    .modal-header {
      border-bottom: 0;
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
      padding: 25px 20px;
      .close-icon {
        position: absolute;
        right: 24px;
        top: 28px;
        font-size: 18px;
        cursor: pointer;
        opacity: 0.7;
      }
      h4 {
        font-weight: 600;
        padding-left: 10px;
        font-size: 21px;
      }
    }
    .modal-body {
      position: relative;
      padding: 0px 15px;
      font-size: 14px;
      p {
        padding-bottom: 30px;
        padding-left: 5px;
        border-bottom: 1px solid #d9d9d9;
        margin: 0px 12px;
      }
      p.no-border {
        border: 0;
        padding-bottom: 10px;
      }
      .input-field-container {
        padding-bottom: 15px;
        border-bottom: 1px solid #d9d9d9;
      }
      input.input-field {
        width: 95%;
        margin-left: 10px;
        height: 35px;
        border-radius: 6px;
        padding-left: 10px;
      }
      .modal-action-btns {
        margin: 22px 0px;
        text-align: center;
        button {
          margin-right: 20px;
          padding: 11px 30px;
          border-radius: 200px;
        }
        .skip {
          padding: 11px 40px;
          color: inherit;
        }
        .change {
          color: #fcfcfc;
        }
        .ok-right{
          margin-right: -239px;
          padding: 11px 57px;
          border-radius: 200px;
        }

      }
    }
  }
}

.styled-checkbox {
  position: absolute; /*take it out of document flow*/
  opacity: 0; /*hide it*/
  & + label {
    position: relative;
    cursor: pointer;
    padding-top: 20px;
    font-weight: normal;
    color: #000000;
    font-size: 13px;
  }
  /*Box.*/
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid #000000;
    border-radius: 5px;
  }

  /*Disabled box.*/
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  /*Checkmark. Could be replaced with an image*/
  &:checked + label:after {
    position: absolute;
    left: 7px;
    top: 20px;
    content: '\2713';
    position: absolute;
    font-size: 1.3em;
    color: #000000;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
  }
}


/* Style for loader */
.loader-img-overlay {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.6);
  .loader-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    img {
      width: 40px;
    }
  }
}

.loader-3d-img-overlay {
  position: absolute;
  .loader-img {
    border: 1px solid transparent;
    padding: 12px;
    border-radius: 23px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    img {
      width: 25px;
      margin-right: 5px;
    }
    span {
      color: #fcfcfc;
    }
  }
}

.required {
  border-color: red;
}
@media(min-width: 1200px){
  .alert{
    right: 38%;
  }
}
@media(max-width: 767px){
  .alert{
    left: 5%;
    right: 5%;
  }
}
