.floor-plans-container.primary-color.container {
	background: transparent;
	padding: 0;
}
.floor-plans-container{
	padding: 2% 5% 0% 5%;
	.floor-plans-header {
    padding-top: 20px;
	}
	.persons-info{
		background-color: #e9e1e1;
    /* width: calc(100% + 20px); */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 35px;
    .btn-default{
    	border-color: transparent;
    }
	}
	.tmargin15{
		margin-top: 15px;
	}
	.tmargin7{
		margin-top: 7px;
	}s
	.border-top-left{
		border-top-left-radius: 10px;
	}
	.border-bottom-left{
		border-bottom-left-radius: 10px;
	}
	.border-top-right{
		border-top-right-radius: 10px;
	}
	.border-bottom-right{
		border-bottom-right-radius: 10px;
	}
	.opacity{
		opacity: 0.5;
	}
	.tmargin50{
		margin-top: 50px;
	}
	.border-right{
		border-right: 1px solid;
	}
	.meter-toggle{
    background: rgba(147, 149, 152, 0.19);
    width: 158px;
    height: 30px;
    border-radius: 14px;
    border-color: transparent;
    position: relative;
    border-radius: 73px;
    box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.17), inset 2px 2px 1px 0 rgba(0, 0, 0, 0.07);
	}
	.font-bold{
		font-weight: bold;
	}
	.svg-wrapper.setup-img {
		svg {
			height: 34px;
		}
	}
	.setup-image-container {
	  padding: 0px;
	  button {
	    background-color: #e9e1e1;
	    border: transparent;
	    border-radius: 0;
	    width: 100%;
      pointer-events: none;
      cursor: default;
	  }
	  .button-left {
	    border-top-left-radius: 8px;
	    border-bottom-left-radius: 8px;
	  }
	  .button-right {
	    border-top-right-radius: 8px;
	    border-bottom-right-radius: 8px;
	  }
	  .person-image {
	    padding-left: 15px;
	    width: 22px;
	    height: 19px;
	  }
	}
	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	.slider-no-background {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	.slider-no-background .circle {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 3px;
	  bottom: 3px;
    border-radius: 100%;
	  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.5);
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	input:checked + .slider-no-background .circle {
	  -webkit-transform: translateX(126px);
	  -ms-transform: translateX(126px);
	  transform: translateX(126px);
	}
	@media (min-width: 768px) and (max-width: 992px){
		.setup-image-container{
			max-width: 92px;
		}
	}
	@media (min-width: 992px) and (max-width: 1200px){
		.setup-image-container{
			max-width: 101px;
		}
	}
	@media (min-width: 1200px) and (max-width: 1400px){
		.setup-image-container{
			max-width: 120px;
		}
	}
	@media (min-width: 1400px) and (max-width: 1600px){
		.setup-image-container{
			max-width: 143px;
		}
	}
	@media (min-width: 1600px) and (max-width: 1800px){
		.setup-image-container{
			max-width: 153px;
		}
	}
	@media (min-width: 1800px){
		.setup-image-container{
			max-width: 180px;
		}
	}
}

.floorplan-image {
		padding-bottom: 2%;
	}
	.primary-color-popup{
	    text-align: center;
	    vertical-align: middle;
	    p {
  	    padding: 10px;
    		margin: 0;
	    }
	}
	.primary-color-popup-text{
		color:#ffffff;
	}
	.text-font-18{
	    font-size: 18px;
	}
	.text-font-16{
	    font-size: 16px;
	}
	.floorplan-popup-container{
		width: 306px;
    box-shadow: 2px 4px 9px 0 rgba(0, 0, 0, 0.56);
    background-color: #ffffff;
    border-radius: 8px;
    position: absolute;
	}
	.check-mark-border {
		border-top: 13px solid;
	}
	.division{
		position: relative;
	}
	.popup-image{
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	}
	.checkmark-img-selected {
    width: 33px;
    position: absolute;
    right: -15px;
    top: -28px;
    border-radius: 20px;
	}
	.no-border-radius {
		border-radius: 0;
	}
	.hotel-image{
		position: relative;
	}
	.room-detail{
		position: absolute;
	    bottom: 20px;
	    margin-left: 10px;
	}
	.margin-left{
		margin-left: 15px;
	}
	.tooltip-arrow{
		position: absolute;
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 20px solid #fcfcfc;
	    margin-left: 25px;
	}

/* Style for the floor plan view */

.floor-plan-setup-container {
	position: relative;
}

#floor-scene-container {
	width: 100%;
	height: 100vh;
}

/* Alignment with sidebar */
@media(min-width: 768px) and (max-width: 992px){
	.align-content-right{
		.setup-image-container-loggedIn{
			max-width: 78px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1134px){
	.align-content-right{
		.setup-image-container-loggedIn{
			max-width: 84px;
		}
	}
}
@media (min-width: 1134px) and (max-width: 1200px){
	.align-content-right{
		.setup-image-container-loggedIn{
			max-width: 97px;
		}		
	}	
}
@media (min-width: 1200px) and (max-width: 1400px){
	.align-content-right{
		.setup-image-container-loggedIn{
			max-width: 103px;
		}
	}
}	
@media (min-width: 1400px) and (max-width: 1600px){
	.align-content-right{
		.setup-image-container-loggedIn{
			max-width: 121px;
		}
	}
}
@media (min-width: 1600px) and (max-width: 1800px){
	.align-content-right{
		.setup-image-container-loggedIn{
			max-width: 140px;
		}
	}
}
@media (min-width: 1800px){
	.align-content-right{
		.setup-image-container-loggedIn{
			max-width: 158px;
		}
	}
}