/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');*/

html, body {
	overflow-x: hidden;
}

@mixin top-bold-border {
	border-right: 2.5px solid;
	border-top: 2.5px solid;
}

@mixin bottom-bold-border {
	border-bottom: 2.5px solid;
	border-left: 2.5px solid;
}
.container {
	margin: 0px;
	padding: 0px;
	width: 100%;
  .separator-line{
  	border-top: 1px solid;
  	margin-top: 10px;
  	margin-bottom: 10px;
  }
  .rfp-name {
    max-width: 1290px;
    margin: auto;
    padding: 15px 0px;
    padding-left: 20px;
    .share-downld-btns {
    	padding-left: 20px;
    }
    .share-btn {
	    border: 1px solid;
	    padding: 4px 26px;
	    border-radius: 20px;
    }
 }
 @media (max-width: 1500px) {
 	.rfp-name {
    	max-width: 1200px; 
	}
 }
  .row {
	  margin: 0 auto;
	  max-width: 1780px;
  }
  .localization-button {
    color: inherit;
    border: 1px solid;
    border-radius: 22.7px;
    span {
	    padding-left: 10px;
	    font-size: 12.8px;
    }
    .svg-wrapper{
    	padding-left:0px;
    }
  }
}
.row.header {
  margin: 40px auto 0 auto;
  margin-bottom: 0px;
  /*max-width: 1290px;*/
}
.header-container {
	.header-content {
		border-right: 1.4px solid;
	}
	.hotel-name {
    font-size: 22px;
    margin-bottom: 20px;
	}
}
.header-capacity {
	padding: 15px 0px 0px 20px;
	span {
		padding: 15px;
	}
	p {
		padding-left: 40px;
	}
}
.row.header-container {
	margin: 5% auto;
	margin-bottom: 0px;
	max-width: 1290px;
}
.row.tab-container {
	margin: 30px auto;
	margin-bottom: 0px;
	max-width: 1285px;
}

#layout_tab {
	ul {
		transform: skewX(30deg);
		width: 104%;
		.individual-tab-toggle {
			border: .5px solid;
	    border-top: transparent;
	    border-right: transparent;
	    border-bottom-left-radius: 10px;
	    height: 48px;
	    top: 15px;
	    right: 69px;
	    width: 10%;
		}
		.individual-tab {
			.btn[disabled] {
				opacity: 1;
				li {
					span {
				    opacity: 0.65;
					}
				}
			}
			.tab-number {
				border-radius: 30px;
		    position: absolute;
		    text-align: center;
		    top: -17px;
		    padding: 7px;
		    color: white;
		    left: 16px;
		    transform: skew(-30deg,0deg);
		    width: 34px;
		    height: 34px;
		    z-index: 1000;
			}
			width: 30%;
			padding: 0px;
	    border-bottom: 1px solid;
	    margin-top: 2px;
			button {
	    	width: 100%;
		    border: 0;
		    border-radius: 0;
		    background: transparent;
		    border-color: transparent;
		    padding: 0;
				li {
					padding: 20px;
			    &:after {
	    	    border-right: 1px solid;
				    border-top: 1px solid;
				    content: "";
				    width: 72%;
				    height: 34%;
				    top: 0;
				    position: absolute;
				    right: 68px;
				    border-top-right-radius: 10px;
			    }
			    span {
	    	    transform: skew(-30deg, 0deg);
            padding-left: 18%;
			    }
				}
			}
		}
		.room_setup, .submit_rfp {
			button {
				li {
					&:before {
				    content: "";
				    width: 100%;
				    position: absolute;
				    height: 69%;
				    border-bottom-left-radius: 10px;
				    right: 69px;
				    border-left: 1px solid;
				    /*border-bottom: 1px solid;*/
					}
				}
			}
		}
		.meeting_spaces {
			border-bottom: none;
		}
	}
	.meeting_spaces {
		.individual-tab {
			border-bottom: 2.5px solid;
			opacity: 0.5;
		}
		.meeting_spaces {
			border-bottom: none;
			opacity: unset;
			button li {
				font-weight: bold;
				&:after {
					right: 66px;
					@include top-bold-border;
				}
			}
		}
		.room_setup {
			button li {
				&:before {
					@include bottom-bold-border;
				}
			}
		}
		.room_setup button li:before, .submit_rfp button li:before {
			height: 71%;
		}
		.individual-tab-toggle {
			border-bottom: 2.5px solid;
			height: 50px;
		}
	}
	.room_setup {
		.individual-tab {
			/*border-bottom: 2.5px solid;*/
			border-bottom: none !important;
			opacity: 0.5
		}
		.meeting_spaces {
			border-bottom: none;
		}
		.room_setup {
			border-bottom: 1px solid;
			opacity: unset;
			button li {
				font-weight: bold;
				&:after {
					right: 66px;
					@include top-bold-border;
				}
			}
		}
		.submit_rfp {
			button li {
				&:before {
					border-left: 3px solid;
					border-bottom: 2.5px solid;
				}
			}
		}
		.room_setup {
			button li {
				&:before {
					border-bottom: 0.5px solid;
					border-left: 0.5px solid;
				}
			}
		}
		.submit_rfp button li:before {
			height: 69%;
		}
		.meeting_spaces button li:before{
			height: 69%;
		}
		.room_setup button li:before {
			height: 69%;
		}
		.individual-tab-toggle {
			border-bottom: 2.5px solid;
			height: 50px;
		}
	}
	.submit_rfp {
		.individual-tab {
			border-bottom: 1px solid;
			opacity: 0.5;
		}
		.meeting_spaces {
			border-bottom: none;
			opacity: 0.5;
		}
		.submit_rfp {
			border-bottom: 1px solid;
			opacity: unset;
			button li {
				font-weight: bold;
				&:after {
					right: 66px;
					@include top-bold-border;
				}
			}
		}
		.individual-tab-toggle {
			height: 50px;
			border-left: 2.5px solid;
			border-bottom: 2.5px solid;
		}
	}
}

.primary-color .container {
  background: rgba(207, 208, 210, 0.17);
}
/*.primary-color .container:nth-child(2) {
  background: none;
}*/
span.svg-wrapper, .svg-wrapper span {
	display: inline;
	padding: 0px;
	margin: 0px;
}
svg{
	vertical-align: middle;
}
.icon-3d svg{
	width: 56px;
	height: 28px;
}
#layout-sub-tab {
	margin: 5%;
	margin-top: 30px;
	margin-bottom: 0;
	button {
		border: none;
		width: 80%;
		padding: 0;
	}
	ul {
		border-bottom: 1px solid;
		.sub-tab {
			/*border-bottom: 1px solid;*/
			button {
				li {
					padding: 23px;
					text-align: center;
					border-top-right-radius: 16px;
					border-top-left-radius: 16px;
					box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
					background-color: rgba(255, 255, 255, 0.35);
				img, svg {
					width: 45px;
				}
				svg{
					vertical-align: bottom;
					margin-bottom: -8px;
				}
				hr{
					margin-top: 20px;
					margin-bottom: -21px;
					border: 1.6px solid;
					width: 80%;
					display: none;
					}
				}
			}		
		}
	}
	.meeting_rooms {
		.meeting_rooms {
			li {
		    	background-color: rgba(255, 255, 255, 0.75);
				font-weight: bold;
        		padding: 20.3px;
        		/*border-bottom: 2px solid;*/
				hr{
					display: block;
				}
				span {
					padding-left: 10px;
				}
				span.svg-wrapper {
					padding: 0;
					span {
						padding: 0;
					}
				}
			}
		}
	}
	.floor_plan {
		.floor_plan {
			li {
		    background-color: rgba(255, 255, 255, 0.75);
				font-weight: bold;
        padding: 20.3px;
        /*border-bottom: 2px solid;*/
        	hr{
			    display: block;
				}
		    span {
    	    padding-left: 20px;
		    }
		    span.svg-wrapper {
					padding: 0;
					span {
						padding: 0;
					}
				}
			}
		}
	}
	.capacity_chart {
		.capacity_chart {
			li {
		    background-color: rgba(255, 255, 255, 0.75);
				font-weight: bold;
				/*border-bottom: 2px solid;*/
        padding: 20.3px;
        	hr{
			    display: block;
				}
		    span {
    	    padding-left: 20px;
		    }
		    span.svg-wrapper {
					padding: 0;
					span {
						padding: 0;
					}
				}
			}
		}
	}
}
.site-footer{
	width: 100%;
	position: relative;
 	height: 115px;
	.footer-menu-section{
		position: absolute;
		right: 50px;
    bottom: 42px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.39);
		span{
			color: #fff;
			margin-right: 50px;
			font-size: 16px;
			display: inline-block;
		}
	}
}

.room-setup-container {
  background: rgba(207, 208, 210, 0.17);
}

.room-setup-3d-container {
	max-width: 1280px;
  margin: auto;
	position: relative;
	.setup-buttons {
    top: 88vh;
    position: absolute;
    #scene-2d-container {
		margin-left: 75px;
		border: 2px solid #fcfcfc;
		border-radius: 36px;
		padding-top: 11px;
		padding-bottom: 13px;
		padding-left: 22px;
		padding-right: 22px;
    }
    #scene-3d-btn {
		margin-left: 17px;
		border-radius: 20px;
		border: 2px solid #fcfcfc;
		border: none;
		padding: 5px 26px;
    }
    #dollhouse-view-btn {
		margin-left: -10px;
		/* left: 250px; */
		border: 0;
		/* top: -8px; */
		padding-top: 4px;
    }
	}
}

#scene-3d-btn {
  /*position: absolute;
  top: 91vh;
  left: 160px;*/
  border-radius: 20px;
  border: 2px solid #fcfcfc;
  img {
  	width: 21px;
  }
}
.share-room-details{
    height: 452px;
    position: fixed;
    z-index: 1;
    top: 32px;
    left: 19%;
    right: 10%;
    width: 65%;
    padding: 20px 20px 59px 20px;
    border-radius: 21px;
    box-shadow: 0 -3px 9px 0 rgba(0, 0, 0, 0.16);
    background-color: #f5f5f5;
    .close-button {
	    background: transparent;
	    border: none;
	    font-size: 20px;
	}
	.send-btn{
    		width: 158px;
    		height: 56px;
    		border: 1px solid;
    		border-radius: 28.4px;
    		float: right;
    		margin-top: 20px;
    	}
    .share-info-header{
    	padding: 10px;
    	border-bottom: 1px solid;
    	h1{
			font-size: 23px;
		  	font-weight: bold;
		  	font-style: normal;
		  	font-stretch: normal;
		  	line-height: 1.26;
		  	letter-spacing: normal;
		  	display: inline-block;
    		margin-left: 50px;
    	}
    	img{
    		vertical-align: top;
    	}
    	.member-count{
    		font-size: 14px;
			font-weight: normal;
	  		font-style: normal;
	  		font-stretch: normal;
	  		line-height: 1.19;
	  		letter-spacing: normal;
	  		color: #0f0f0f;
    	}

    }
    .share-info-email{
    	padding: 20px 10px 20px 10px;
    	border-bottom: 1px solid;

    	.share-info-label{
    		font-size: 16px;
  			font-weight: bold;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 1.04;
  			letter-spacing: normal;
  			display: inline-block;
    	}
    	.email-field{
    		display: inline-block;
    		width: 80%;
    		margin-left: 10px;
    		border: none;
    		box-shadow: none;
    		background: transparent;
    	}
    }
    .share-info-link{
    	margin-top: 30px;
    	border-bottom: 1px solid;
    	padding-bottom: 39px;
    	.link-field{
    		border: none;
    		width: 87%;
    		display: inline-block;
    		margin-left: 20px;
    	}
    }
    .share-info-note{
    	font-size: 16px;
  		font-weight: normal;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: 1.04;
  		letter-spacing: normal;
  		margin-left: 47px;
  		margin-top: 40px;
  		display: inline-block;
  		.share-info-label{
    		font-size: 16px;
  			font-weight: bold;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 1.04;
  			letter-spacing: normal;
  			display: inline-block;
    	}
    }
    .copy-btn{
    	height: 37.8px;
		 	border-radius: 28.4px;
		 	width: 105px;
		 	border: 1px solid;
		 	float: right;
		 	margin-top: 30px;
		 	margin-right: 20px;
    	}
}

@media (max-width: 460px){
	#layout_tab{
		margin-top: 10px !important;
		width: 92%;
		ul{
			width: 136%;
		}
	}
}
@media (min-width: 768px) {
	.alert-msg-upload-documents{
	  left: 25% !important;
	  right: 20% !important;
	}
}
@media (min-width: 460px) and (max-width: 768px){
	#layout_tab{
		margin-top: 10px !important;
		width: 87%;
		ul{
			width: 136%;
		}
	}
}
/* Media query for tablets */
@media(min-width: 768px) and (max-width: 992px){
	.share-room-details{
		left: 9%;
		width: 83%;
	}
	#layout_tab{
		ul{
			width: 118%;
			.individual-tab{
				.tab-number{
					z-index: 1000 !important;
					left: 8px !important;
				}
				.spaces-class{
					left: 15px !important;
				}
			}
		}
	}
	#layout-sub-tab{
		margin:0px;
	}
	.header-logo{
		margin-bottom: 20px !important;
	}
	.header-container{
		.header-content{
			margin-bottom: 20px !important;
		}
	}
	#layout-sub-tab .capacity_chart .capacity_chart{
		li{
			padding:23px !important;
			span{
				padding-left: 0px;
			}
		}
	}
	#layout-sub-tab .meeting_rooms .meeting_rooms{
		li{
			padding:23px !important;
			span{
				padding-left: 0px;
			}
		}
	}
	#layout-sub-tab .floor_plan .floor_plan{
		li{
			padding:23px !important;
			span{
				padding-left: 0px;
			}
		}
	}
	#layout-sub-tab ul .sub-tab button li hr{
		margin-bottom: -23px !important;
	}

}

/* Media query for mobile devices */
@media(max-width: 767px){
	.room-setup-3d-container{
		.setup-buttons{
			top:85vh !important;
		}
	}
	.share-room-details{
		left: 1%;
		right: 1%;
		width: 98%;
		height: auto;
		.copy-btn{
			margin-top: -4px;
		}
	}
	.inline-block{
		display: inline-block !important;
	}
	.header-container {
	.header-content {
		border-right: none;
	}
	.hotel-name {
    font-size: 18px;
    margin-bottom: 10px;
	}
}
.localization-button {
    color: inherit;
    border: none !important;
    border-radius: 0px;
    font-weight: bold;
    margin-left: -10px;
    span {
	    padding-left: 10px;
	    font-size: 12px;
    }
    .svg-wrapper{
    	padding-left:0px;
    }
  }
  .individual-tab{
  	padding-bottom: 2px !important;
  	.tab-number{
  	font-size: 12px !important;
  	padding: 3px !important;
  	width: 22px !important;
  	height: 22px !important;
  	left: -25px !important;
  	}
  	.spaces-class.tab-number{
  		left: 16px !important;
  	}
  	button{
  		font-size: 12px;
  		li{
  			span{
  				padding-left: 0% !important;
  			}
  		}
  	}
  }
  .submit_rfp, .room_setup{
  	button{
  		li{
  			span{
  				margin-left: -35px !important;
  			}
  		}
  	}
  	.spaces-class{
  		li{
  			span{
  				margin-left: 0px !important;
  			}
  		}
  	}
  } 
  .header-capacity {
	padding: 15px 0px 0px 0px;
	span{
		padding:0px;
	}
	}
}
@media (min-width: 992px) and (max-width: 1084px){
	#layout-sub-tab {
	  ul {
		.sub-tab {
			/*border-bottom: 1px solid;*/
			button {
				li {				
				  img, svg {
					width: 30px;
				  }
				}
			}		
		}
	  }
    }
}
@media (min-width: 600px) and (max-width: 768px){
		#layout_tab ul{
			.individual-tab
	        .tab-number-alignment{
	        	left: -7px !important;
	        }
	        .spaces-class.tab-number{
	  		    left: 16px !important;
	  	    }
		}
}
@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape){
	.share-room-details{
		left: 1%;
		right: 1%;
		width: 98%;
		height: 90vh;
		overflow-y: auto !important;
	}
}

/* Alignment with sidebar */
@media (min-width: 992px) and (max-width: 1120px){
	.align-content-right{
		#layout_tab ul{
            width: 103%;
            margin-left: 20px;
		}
		.individual-tab{
			.text-sub-tab{
				padding-left: 0% !important;
		    }
		    .tab-number-alignment{
			    left: -10px !important;
		    }
		}
	}
}
@media (min-width: 768px) and (max-width: 992px){
	.align-content-right{
		#layout_tab ul{
			width: 120%;
			margin-left: 20px;
			.individual-tab{
				.text-sub-tab{
					padding-left: 0% !important;
			    }
			    .tab-number-alignment{
				   left: -10px !important;
			    }
			}
		}
	}
}

@import "MeetingRoom";
@import "MeetingRoomList";
@import "CapacityChart";
@import "FloorPlans";
@import "CommonStyle";
@import "../common";
@import "../layoutCustomize";
@import "../customizeTab";
@import "../submitRfp";
@import "../responsive";
