.chat-container{
	.chat-background{
		background-image: linear-gradient(176deg, #f0f0f0, #fafafa);
	}
	.rcw-conversation-container{
		display: inline-block !important;
		background-image: linear-gradient(176deg, #f0f0f0, #fafafa);
	}
	.rcw-launcher{
		display: none;
	}
	.rcw-title{
		font-size: 14px !important;
		padding: 15px 10px !important;
		font-weight: bold;
	}
	.rcw-conversation-container > .rcw-header {
        background-color: unset;
        color: unset;
        text-align: unset;
        padding: 5px;
    }
    input[type="text"]::placeholder{
   		font-weight: normal;
   		color: #9b9b9b;
   	}
    .rcw-messages-container{
    	background-color: unset;
    	border-top: 1px solid;
    }
    .rcw-sender{
    	background-color: unset;
    }
    .rcw-new-message{
        background-color: #ffffff;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .rcw-send{
        background-color: #ffffff;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
	.rcw-message > .rcw-response {
	    background-color: #ffffff;
	}
	.rcw-client{
	    background-color: #d16685;
	}
	.rcw-message-text{
		color: #46454c;
	}
	.rcw-close-button{
		display: inline-block !important;
		border: 0;
	    position: absolute;
	    background-color: unset !important;
	    right: 10px;
	    top: 15px;
	    outline: none;
	    width: 40px;
	}
    .rcw-close{
    	width: 20px;
        height: 20px;
        background: url("/dist/img/popup/close-button.svg");
    }
    .form-sender{
    	background-image: linear-gradient(176deg, #f0f0f0, #fafafa);
    }
}