body {
    overflow-x: visible;
}
.home-container {
    .content-right{
        width: 80%;
	    float: right;
	    margin-left: 20px;
	    margin-right: 5%;
	}
	.width{
		width: 10%;
	}
	.layout-header{
		margin: 0px;
		padding: 0px;
	}
	.header-text-color-1{
        color: #4A4A4A;
	}
	.header-text-color-2{
		color: #3876AE;
	}
	/*.primary-color{
 		color: #303B70;
	}*/
	.add-image{
		border-radius: 30px;
	}
	.border-red {
		border: 1.2px solid red !important;
		border-radius: 4px;
	}
	/*.primary-background-color{
        background-color: #303B70;
	}*/
	/*.primary-color-light{
 		color: rgba(48,59,112,0.5);
	}*/
	/*.primary-border-color{
		border: 1px solid #303B70;
	}
	.primary-border-color-light{
		border: 1px solid #303B7033;
	}
	.primary-border-bottom-light{
		border-bottom: 1px solid #303B702B;
	}*/
	.color-transparent{
		background-color: #00000000;
	}
	.text-color-event-history{
		/*color: #303B70;*/
		opacity: 0.6;
		font-weight: bold;
		margin-left: 20px;
		font-size: 12px;
	}
	.column-header-title{
		float: left;
		font-size: 25px;
		font-style: bold;
	}
	.circle-with-text {
		width: 22px;
		height: 22px;
	    border-radius: 50%;
		text-align: center;
		padding: 5px;
		font-size: 11px;
		background-color: #0b9fad;
	    color: #ffffff;
        margin-top: 15px;
		margin-left: 5px;
		margin-right: 2px;
    }
    .user-name {
    	width: 27px;
	    height: 27px;
	    display: inline-block;
	    background-color: #0b9fad;
	    border-radius: 100%;
	    text-align: center;
	    color: #ffffff;
	    font-size: 10px;
	    padding-top: 7px;
    }
/*	.sidebar-background-color{
		background-image:linear-gradient(0deg, rgba(48, 59, 112,0.8) 45%, rgb(185, 146, 146) 145%);
		box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
		border-top-right-radius: 25px;
		border-bottom-right-radius: 200px;*/
		/*transform-origin: bottom-left;
		transform: skew(35deg,0deg);*/
		/*border-bottom-right-radius: 200px;*/
	/*}*/
	.triangle{
		width: 0;
		height: 0;
		text-indent: -9999px;
		border-top: 75px solid rgba(177,34,34,0.98);
		border-right: 68px solid transparent;
	}
	.status-1{
        background-color: #fbc471;
	}
	.status-3{
        background-color: #73e2b6;
	}
	.status-4{
        background-color: #e64e67;
	}
	.status-5{
        background-color: #62a5fc;
	}
	.status-2{
        background-color: #dede2a;
	}
	.status-6{
        background-color: #b5b5b980;
	}
	.status-7{
		background-color: #c89ad3;
	}

	.select-button{
		width: 148.8px !important;
		height: 35px;
		opacity: 0.75;
		border-radius: 4px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
		border: solid 0.5px rgba(255, 255, 255, 0);
		/*background-color: #fbc471;*/
		color: #ffffff;
		padding-left: 4px;
		font-size: 12px;
		text-transform: capitalize;
	}

	.dropdown-item-1{
		width: 148.8px;
		height: 35px;
		opacity: 0.75;
		  
		  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
		  border: solid 0.5px rgba(255, 255, 255, 0);*/
		text-align: left;
		color: #ffffff;
		font-size: 12px;
		/*background-color: #fbc471;*/
	}

	.button{
		width: 148.8px;
		height: 100%;
		border:0;
		box-shadow: 0;
		border-radius: 0;
		color: #ffffff;
		/*background-color: #00000000;*/
		text-align: left;
		font-size: 12px;
		text-transform: capitalize;
	}

	.select-icon{
		float: right;
		padding-top: 6px;
		width:15px;
	}

	.header{
		margin-top: 40px;
	}
	.logo{
		width: 70%;
		float: left;
	}
	.header-left{
		width: 50%;
		float: left;
		margin-top: 20px;
	}
	.header-left-content-1{
		float: left;
		font-size: 15px;
	}
	.header-left-content-2{
		float: left;
		margin-left: 20px;
	}
	.header-left-content-3{
		float: right;
	}
	.back-button{
		margin-top: 20px;
		font-size: 15px;
		border-width: 0px;
	}
	.column-header{
		float: left;
		font-size: 25px;
		font-style: bold;
	}
	.header-search-text{
		float: left;
		width:30%;
		border-radius: 8px;
		font-size: 20px;
		align-content: center;
	}
	.header-search{
		float: left;
		border-radius: 8px;
		font-size: 20px;
		padding: 3px;
		align-content: center;
	}
	.search{
		border: 0px;
		text-align: center;
		vertical-align: middle;
		/*color: #303B70;*/
		width: 85%;
	}

	.text-search{
		float: right;
	}
	::placeholder{
        /*color: #303B70;*/
        font-weight: bold;
	}
	/*input[type="text"].enter-text::placeholder{
		color: #303B70;
	}*/
	.image-search{
        background-color: #00000000;
        border: 0;
		float: right;
		margin-right: 10px;
        margin-top: 2px;
	}
	.hotel-list-search {
		position: absolute;
        right: 55px;
        top: 35px;
        display: inline-block;
	}
	input[type="text"]:focus{
		border-color: rgba(48,59,112,0.3);
        outline: 0;
	}
	.main-content{
    	bottom: 0;
		background: rgba(229,229,230,0.5);
		min-height: 320px;
	}
	select{
		width: 100px;
		border:0px;
		float:left;
		appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
        -o-appearance: none;
		background-color: #00000000;
		background:url("/dist/img/meeting_space/icons/arrow-down.svg");
		background-size:12px 7px;
		background-repeat: no-repeat;
		background-position-x: 80px;
		background-position-y:12px;
		margin-top: 15px;
		padding-right: 10px;
	}
	select::-ms-expand {
        display: none;
    }
}
.event-list-container{
	.back-button {
		display: none;
	}
	.lpadding1{
        padding-left: 1px !important;
	}
	.rpadding1{
		padding-right: 1px !important;
	}
	table {
		  width: 100%;
		  border-collapse: separate;
		  border-spacing: 1px 0;
		  margin-top: 10px;
    }
	td {
	  padding: 5px 0;
	  text-align: center;
	}
	.table-column-1{
         width:40%;
         background: rgba(229,229,230,0.5);
	}
	.table-column-2{
		width:30%;
		background: rgba(229,229,230,0.5);
	}
	.table-column-3{
		width:20%;
		background: rgba(229,229,230,0.5);
	}
	.table-column-4{
		width:15%;
		background: rgba(229,229,230,0.5);
	}
	.event-detail{
		float: left;
		margin-left: 5px;
		margin: 0;
	}
	.tpadding2{
		padding-top: 2px;
	}
	.content-detail{
		padding-top: 10px;
		padding-bottom: 10px;
		float: left;
		font-size: 12px;
		margin-left: 20px;
	}
	.content-detail-2{
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 12px;
		margin-left: 5px;
	}
	.width-detail-text{
		display: inline-block;
        width: 130px;
        margin-top: 5px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
	}
	.view-button{
		float: left;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.content-detail-left{
		float: left;
	}
	.content-detail-right{
		float: left;
	}
	.view{
		font-size: 12px;
		border-radius: 15px;
	}
	.navigation--events{
		background-image: linear-gradient(to left, #ecaeae, #f75050);
	}
	.filters-option{
		float: right;
	}
	.date-from{
		/*position: absolute;
		display: inline-block;*/
	    float: left;
	}
	.date-field{
		margin-left: 20px;
	}
	.date-to{
		float: left;
		margin-left: 5px;
		/*position: absolute;
		display: inline-block;*/
	}
    .align-right{
    	float: right;
    }
    .align-middle{
    	text-align: center;
    	vertical-align: middle;
    	margin-left: 10px;
    }
    .align-event-dropdown{
    	text-align: center;
    	vertical-align: middle;
    	margin: auto;
    }
    .column-background{
        background: rgba(229,229,230,0.5);
    }
    .div{
        text-align: center;
        display: flex;
        vertical-align: middle;
        font-size: 12px;
    }
	.date{
		float: left;
	}
	.date-heading{
		float: left;
		padding-top: 10px;
	}
	.pick-date{
		 width: 98.8px;
		  height: 35px;
		  opacity: 0.75;
		  border:0;
		  border-radius: 4px;
		  background-color: #ffffff;
		  font-size: 12px;
	}
	.field-right{
		margin-top: 10px;
	}
	.input-field{
		border-radius: 2px;
		text-align: center;
	}
	.dropdown{
		width: 100px;
		background-color: #ffffff;
		box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
		border: 0px solid #ffffff;
		border-radius: 8px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.dropdown-event{
		width: 100px;
		border:0px;
		float:left;
		appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		-ms-appearance:none;
        -o-appearance: none;
		background-color: #00000000;
		background:url("/dist/img/meeting_space/icons/arrow-down.svg");
		background-size:12px 7px;
		background-repeat: no-repeat;
		background-position-x: 80px;
		background-position-y:7px;
		margin-top: 15px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	/*#active-events::before{
		border-right: 1px solid;
    border-top: 1px solid;
    content: "";
    width: 20%;
    height: 20%;
    top: 0;
    position: absolute;
    right: 68px;
    border-top-right-radius: 10px;
    background:rgba(229,229,230,0.5);
	}*/
	#active-events{
	    position: relative;
	    width: 25%;
	    height: 50px;
	    /* padding-left: 20px; */
	    padding-top: 15px;
	    border: 0;
	    font-size: 15px;
	}
	#active-events:before{
	    content: " ";
	    display: block;
	    width: 100%;
	    height: 100%;
	    margin: 0 0 0 -12px;
	    -webkit-transform: skew(30deg);
	    -moz-transform: skew(30deg);
	    -ms-transform: skew(30deg);
	    -o-transform: skew(30deg);
	    transform: skew(30deg);
	    border-top-right-radius: 5px;
	    /*background:rgba(229,229,230,0.5);*/
	    position: absolute;
	}

	#past-events:before{
	    content: " ";
	    display: block;
	    width: 100%;
	    height: 100%;
	    margin: 0 0 0 -7px;
	    -webkit-transform: skew(30deg);
	    -moz-transform: skew(30deg);
	    -ms-transform: skew(30deg);
	    -o-transform: skew(30deg);
	    transform: skew(30deg);
	    border-top-right-radius: 5px;
	    position: absolute;
	}
	
	#past-events.past:before{
		content: " ";
		background: rgba(229,229,230,0.5);
	}
	
	#active-events.active:before{
		content: " ";
		background: rgba(229,229,230,0.5);
	}
	

	#active-events {
	    overflow: hidden;
	}

	.text-select {
		float: left;
		-webkit-transform: skew(-30deg);
	    -moz-transform: skew(-30deg);
	    -ms-transform: skew(-30deg);
     	-o-transform: skew(-30deg);
     	transform: skew(-30deg);
	}

	.text-active-events{  
		float: left;
		transform: skewX(30deg);
	    padding: 15px;
	    margin-left: 13px;
	}

	.text-past-events{  
		float: left;
		transform: skewX(30deg);
	    padding: 5px;
	    margin-left: 13px;
	    margin-top: 10px;
	}
	
	#past-events{
		height: 50px;
		background: #ffffff;
		padding-top: 11px;
		font-size: 15px;
		overflow: hidden;
	}
	#create-event{
		height: 50px;
		font-size: 14px;
		padding-top: 24px;
		text-align: right;
		background: #ffffff;
	}

	.content-table{
		position: relative;
		float: left;
		width: 16%;
		margin-top: 5px;
		font-size: 15px;
		
	}
	#text-small{
		margin-top: 5px;
		font-size: 12px;
	}
	.add-event{
		float: left;
		width: 58%;
		font-size: 20px;
	}
	.table-title{
		margin-top: 20px;
		padding-left: 25px;
	}
	#table-contents{
		padding-top: 25px;
	    text-align: left;
	    font-size: 12px;
	    margin-left: 8px;
	}
	#table-contents-right{
		padding-top: 25px;
	    text-align: right;
	    font-size: 12px;
	    margin-left: 88px;
	}
	.select-event{
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
		margin-left: 5px;
		min-height: 28px;
		border-radius: 3px;
		padding-left:5px;
		padding-right:20px;
		margin-top: 5px;
		background-color: #ffffff;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	}
	.list-event{
		background-color: #ffffff;
		margin-bottom: 15px;
		vertical-align: middle;
		margin-left: 10px;
		margin-right: 10px;
		border:0px solid #ffffff;
		border-radius: 8px;
	}
	.event-name{
		float: left;
		margin: 0;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	#image-selected{
		margin-top: 5px;
	    float: left;
	}
	#event-selection{
		padding-left: 20px;
		padding-top: 15px;
	}
	.event-date{
		float: left;
		width: 16%;
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.text-event-type{
		margin-top: 5px;
	}
	.event-status{
	    float: left;
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.event{
		appearance: none;
		-webkit-appearance: none;
		overflow: hidden;
		margin-top: 15px;
		width:120px;
		background:url("/dist/img/meeting_space/icons/arrow-down.svg");
		background-size:18px 9px;
		background-repeat: no-repeat;
		background-position: right;
	}
	.event-detail{
		float: left;
		width: 50%;
	}
	.text{
		margin-top: 10px;
	}
	.text-event{
		margin-top: 15px;
	}
	.arrow-down{
		margin-left: 35px;
	}
	.content-detail-left{
		float: left;
		margin-top: 15px;
	}
	.text-detail{
		font-size: 12px;
		color: #4A4A4A;
		margin-left: 5px;
	}
	.text-detail-2{
		margin-top: 15px;
		font-size: 12px;
		color: #4A4A4A;
	}
	.display-contents{
		vertical-align: middle;
	}
	.content-1{
		float: left;
		margin-left: 15px;
	}
	#content{
		margin-top: 10px;
		font-size: 12px;
	}

	.btn-group{
		width: 100%;
	}

	.reset-button{
		margin-top: 5px;
	}

	.dropdown-menu{
		width: 148.8px;
        padding: 0px;
        margin: 0px;
        box-shadow: 0;
        min-width: 141.8px;
        background-color: #ffffff;
        border:0;
        border-radius: 4px;
        -webkit-box-shadow:0;
	}
	
	.dropdown-item-2{
		width: 141.8px;
		height: 35px;
		opacity: 0.75;
		  
		  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
		  border: solid 0.5px rgba(255, 255, 255, 0);*/
		padding-top: 5px;
		color: #ffffff;
		font-size: 12px;
		background-color: #73e2b6;
	}
	.dropdown-item-3{
		width: 141.8px;
	    height: 35px;
		opacity: 0.75;
		 
		 /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
		  border: solid 0.5px rgba(255, 255, 255, 0);*/
		text-align: left;
		padding-top: 5px;
		color: #ffffff;
		font-size: 12px;
		background-color: #e64e67;
	}
	.dropdown-item-4{
		width: 141.8px;
		height: 35px;
		opacity: 0.75;
		 
	/*	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
		  border: solid 0.5px rgba(255, 255, 255, 0);*/
		padding-top: 5px;
		color: #ffffff;
		font-size: 12px;
		background-color: #62a5fc;
	}
	.enter-text{
		width: 60.4px;
		height: 36.4px;
		opacity: 0.75;
		border-radius: 4px;
		background-color: #ffffff;
		border:0;
		text-align: center;
	}
	.text-bold{
		font-size: 15px;
	}
	.search-field{
		border:0px;
		padding-left: 10px;
		padding-top: 5px;
	}
	.image-toggle{
		transform: 180deg;
	}
	.row-details-mobile-view{
        background-image: linear-gradient(to bottom, #f0f0f0, #fafafa);
        margin-left: 10px;
        margin-bottom: 15px;
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;
        display: flex;
	}
}
.create-event-list-container{
	.main-content{
		margin-top: 15px;
	}
	.loader-style {
		text-align: center;
		padding: 62px;
	}
	.padding0{
		padding-left: 0px;
		padding-right: 0px;
	}
	.column-header{
		float: left;
		font-size: 25px;
		font-style: bold;
	}
	.column-width-column-left{
		width: 100%;
	}
	.column-width-column-right{
		width: 80%;
	}
	.image-align-center{
		display: block;
		margin: 0 auto;
	}
	.style-background{
		width: 100%;
		border-radius: 4px;
		background-color: #ffffff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
		border-radius: 8px;
	}
	.date{
		.btn-default{
			color: black;
		}
	}
	.pick-date{
		 width: 98.8px;
		 height: 35px;
		 padding-left: 0px;
	     border:0;
		 border-radius: 4px;
		 font-size: 16px;
		 padding-left: 0px !important;
	}
	.enter-text{
		height: 30px;
		border: 1px solid #FFFFFF;
		border-radius: 4px;
		text-align: center;
	}
	#active-events{
		height: 50px;
		padding-left: 20px;
		padding-top: 15px;
		border: 0;
		border-top-right-radius: 150px;
		background: rgba(229,229,230,0.5);
	}
	#past-events{
		height: 50px;
		background: #ffffff;
		padding-top: 15px;
	}
	.events{
		margin-left: 20px;
	}
	#create-event{
		height: 50px;
		font-size: 14px;
		padding-top: 15px;
		text-align: right;
		background: #ffffff;
	}
	.row-content{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 30px;
	}
	.column-1{
		width: 40%;
		float: left;
	}
	.column-2{
		width: 40%;
		float: left;
	}
	.column-1-content-1{
		width: 30%;
		float: left;
	}
	.column-1-content-2{
		width: 10%;
		float: left;
		margin-right: 50px;
		margin-top: 30px;
	}
	.column-1-content-3{
		width: 30%;
		float: left;
		margin-left: 20px;
	}
	.content-1{
		float: left;
		padding-left: 0px;
	}
	.content-2{
		float: left;
		padding-left: 7px;
	}
	.enter-input{
		width: 100%;
		height: 35px;
		border-radius: 6px;
		padding-left: 10px;
	}
	.enter-input-attendees{
		width: 100%;
		height: 35px;
		border-radius: 6px;
		padding-left: 10px;
	}
	.form-search{
		background-color: #ffffff;
		border: 1px solid rgba(48,59,112,0.1);
		border-radius: 4px;
		border:0;
		padding: 3px;
	}
	.hotel-search{
		height: 40%;
		border-radius: 6px;
        color: #AD0B3A;
        padding: 3px;
	}
	.search-field{
		border:0px;
		padding-left: 10px;
		padding-top: 5px;
	}
	.dropdown-event-type{
		width: 98%;
		height: 40px;
		background-color: #ffffff;
		border: 0px solid #ffffff;
		outline: none;
		background-image: url("/dist/img/event_list/dropdown-arrow-black.png");
		background-repeat: no-repeat;
		background-size: 23px 12px;
		background-position: right;
		padding-left: 10px;
		padding-right: 10px; 
		margin-top: 0px;
	}
	.create-event-column{
		float: left;
		width: 60%;
		align-content: right;
	}
	.create-event-button{
		float: right;
		width: 50%;
		height: 50px;
		border-radius: 30px;
		text-align: center;
		align-content: right;
		margin-top: 30px;
		margin-right: 20px;
	}
	.text-input-bold{
		font-size: 16px;
		font-weight: bold;
		border:0;
		background: rgba(225,225,225,0);
	}
}
/*	
	.element-header{
		width: 100%;
	}
	.content-table-status{
		float: left;
		width: 10%;
	    color: #AD0B3A;
		font-size: 15px;
		text-align: bottom;
	}
	.search-button{
		float: right;
	}	
}*/
.event-history-popup-container{
	max-width: 680px;
	vertical-align: middle;
	height: 398.5px;
    border-radius: 16px;
    box-shadow: 0 8px 39px 7px rgba(0, 0, 0, 0.12), 0 9px 13px -6px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(176deg, #f0f0f0, #fafafa);
    margin: auto;
    position: fixed;
    right: 10%;
    top: 10%;

    .content-scroll{
    	overflow-y: scroll;
    	height: 300px;
    }
    .align-right{
    	float: right;
    	padding-top: 10px;
    	margin-right: 10px;
    }
    .margin-top{
    	margin-top: 20px;
    }
    .topmargin{
    	margin-top: 10px;
    }
    .leftmargin{
    	margin-left: 23px;
    }
    .rightmargin{
    	margin-right: 10px;
    }
    .padding{
    	padding-left: 10px;
    	padding-right: 10px;
    }
    .paddingleft{
    	margin-left: 25px;
    }
    .row-content{
    	margin-left: 30px;
    	margin-right: 30px;
    }
    .heading{
    	font-size: 28px;
    	margin-left: 15px;
    }
	.close-button{
		border:0px;
		margin-top: 20px;
		margin-right: 20px;
	}
	.list-event{
		background-color: #ffffff;
		vertical-align: middle;
		margin-top: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
		border:0px solid #ffffff;
		border-radius: 4px;
	}
	.text-font12{
		font-size: 12px;
	}
	.buttonAsText{
	    background:none;
	    border:none;
	    margin:0;
	    cursor: pointer;
	    outline: none;
	   strong {
	  	 margin-right: 23px;
	   }
	}
	/*::-webkit-scrollbar {
        width: 5px;
        margin-left: 20px;
	}
 
	::-webkit-scrollbar-thumb {
	   background-color: darkgrey;
	   outline: 2px solid slategrey;
	}
	::-webkit-scrollbar-track-piece {
	   background-color: #757575;
	   border-width: 2px 2px 2px 2px;
	   border-style: solid;
    }*/
}

@media (min-width: 992px){
	.event-list-container{
		#past-events{
			width: 20%;
		}
	}
	.create-event-list-container {
		.create-event-button {
			background-color: unset; 
		}
	}
}

@media(min-width: 993px) and (max-width: 1400px){
	.home-container{
		.hotel-list-search {
			right: 30px;
		}
	}
}
@media(min-width: 699px) and (max-width: 767px){
	.home-container{
		.hotel-list-search {
			right: 75px;
		}
	}
}
@media(min-width: 993px) and (max-width: 1040px){
	.home-container{
		/*.content-left{
			width: 8%;
		}*/
		.content-right{
			width: 90%;
			margin-right: 0px !important;
			margin-left: 0px !important;
		}
		.only-desktop{
			display: none !important;
		}
		.add-device-specific{
			display: block !important;
		}
	}
	.event-list-container{
		.table-column-1{
			width: 100%;
			display: block !important;
			margin-bottom: 5px !important;
		}
		.list-event{
			position: relative !important;
		}
		.content-detail-right{
			position: absolute !important;
			top:0 !important;
			right: 10px !important;
		}
		.content-table{
			width: 16%;
		}
		#active-events{
			width: 30%;
			padding-top: 10px;
		}
		#past-events{
			padding-top: 10px;
            width: 30%;
		 }
		.text-past-events{
			margin-top: 8px;
		}
		.table-column-2{
			width: 100%;
			display: block !important;
			margin-bottom: 5px !important;
		}
		.table-column-3{
			width: 77%;
			display: inline-block !important;
		}
		.table-column-4{
			width: 23%;
			/*display: inline-block !important;
			padding-top: 2px !important;*/
		}
		.options{
			display: block !important;
		}
		.date-field{
			margin-left: 0px;
			padding-right: 50px !important;
		}
		.align-middle{
			margin:15px;
		}
		.align-event-dropdown{
			margin: 15px;
		}
		.attendees-frm{
			padding-right: 60px !important;
		}
		.event-type{
			padding-right: 60px !important;
			margin-left: 15px;
		}
		.dropdown{
			width: 190px;
		}
		#create-event{
			float: none !important;
			padding-top: 0px;
			margin-left: 20px;
			text-align: left;
		}
		.delete-btn{
			padding-left: 15px;
    		margin-top: 12px;
    		border-left: 1px solid;
		}
		.select-event{
			height: 33px;
			width: 100% !important;
			background-position-x:right !important;
			background-position-y:15px !important;
			border-right:9px solid #fff !important;
		}
		.event-list-name{
			margin-top: 0px !important;
		}
	}
	.create-event-list-container {
		.column-1-content-2{
			width: 8%;
			margin-right: 20px;
			margin-left: 32px !important;
		}
		.react-autosuggest__suggestions-container--open {
			width: 90%;
		}
	}
}
@media(min-width: 768px) and (max-width: 992px){
		.home-container{
			.options{
				display: block !important;
			}
/*			.content-left{
				width: 8%;
			}*/
			.content-right{
			   margin-right: 0px;
			   width: 90%;
			}
			.header-search{
				input{
					margin-left: 0px;
				}
			}
			.hotel-list-search {
			    right: 65px;
		    }
			.row-title{
			p{
				margin-left: 20px !important;
				font-size: 18px !important;
				display: inline-block !important;
				margin-top: 20px !important;
			}
			.less-filter{
				font-size: 14px;
				margin-right: 20px;
				margin-top: 20px;
			}
			.arrow-class{
				margin-right: 20px !important;
				margin-top: 12px !important;
			}
		}
	}
		.event-list-container{
		.table-column-1{
			width: 100%;
			display: block !important;
			margin-bottom: 5px !important;
		}
		#active-events{
			width: 35%;
			padding-top: 10px;
		}
		.content-table{
			width: 27%;
		}
		#table-contents{
			margin-left: 3px;
		}
		#past-events{
			white-space: nowrap;
		 }
		.table-column-2{
			width: 100%;
			display: block !important;
			margin-bottom: 5px !important;
		}
		.table-column-3{
			width: 100%;
			display: block !important;
		}
		.date-field{
			margin-left: 0px;
			padding-right: 50px !important;
		}
		.align-middle{
			margin:15px;
		}
		.align-event-dropdown{
			margin: 15px;
		}
		.attendees-frm{
			padding-right: 60px !important;
		}
		.event-type{
			padding-right: 60px !important;
			margin-left: 15px;
		}
		.dropdown{
			width: 190px;
		}
		#create-event{
			float: none !important;
			padding-top: 0px;
			margin-left: 20px;
			text-align: left;
		}
		.delete-btn{
			padding-left: 10px;
    		margin-top: 12px;
    		border-left: 1px solid;
		}
		.select-event{
			height: 33px;
			width: 100% !important;
			background-position-x:right !important;
			background-position-y:15px !important;
			border-right:9px solid #fff !important;
		}
		.event-list-name{
			margin-top: 0px !important;
		}
	}
	.create-event-list-container{
		.column-1-content-2{
			margin-left: 44px;
			margin-right: 0px;
		}
		.column-2{
			width: 60%;
		}
		.content-1{
			float: right;
		}
		.content-2{
			float: right;
			margin-right: 25px !important;
		}
		.dropdown-event-type{
			width: 94%;
		}
		.main-content{
			margin-bottom: 50px !important;
		}
		.create-event-button{
	    	float: unset;
	    	width: 94%;
	    	color: #ffffff;
	    }
	}
}
@media(max-width: 767px){
	.home-container{
		.content-right{
		   margin-right: 0px;
		   width: 100%;
		}
/*		.sidebar-icon{
			display: inline-block !important;
			margin-left: 20px;
			margin-right: 10px;
		}*/
/*		.navigation{
			padding-top: 25px;
		}*/
/*		.sidebar-label{
			display: inline-block !important;
			font-size: 14px;
		}*/
/*		.sidebar-background-color{
			background-image:linear-gradient(0deg, rgb(48, 59, 112) 45%, rgb(185, 146, 146) 145%);
			height: 70vh !important;
		}*/
/*		.content-left{
			z-index: 1000 !important;
			width: 224px;
			text-align: left;
		}*/
		.column-header{
			width: 100%;
		}
		.text-search{

			width: 70%;
		}
		.search{
			margin-left: 0px;
		}
		.options{
			display: block !important;
		}
		.image-search{
            margin-right: 3px;
            margin-top: 0px;
		}
		.row-title{
			.list-title{
				margin-left: 20px !important;
				font-size: 18px !important;
				display: inline-block !important;
				margin-top: 22px !important;
			}
			.title-rfp{
				margin-left: 20px !important;
				font-size: 18px !important;
				margin-top: 20px !important;
			}
			.less-filter{
				font-size: 14px;
				margin-right: 20px;
				margin-top: 22px;
			}
			.arrow-class{
				margin-right: 20px !important;
				margin-top: 21px !important;
			}
			.arrow-toggle{
				margin-right: 20px !important;
				margin-top: 24px !important;
				transform: rotate(180deg);
			}
		}
	}
	.event-list-container{
		.table-column-1{
			width: 100%;
			display: block !important;
			margin-bottom: 5px !important;
		}
		#active-events{
			width: 50%;
			padding-top: 10px;
		}
		.content-table{
			width: 45%;
		}
		#past-events{
			white-space: nowrap;
		 }
		.table-column-2{
			width: 100%;
			display: block !important;
			margin-bottom: 5px !important;
		}
		.table-column-3{
			width: 100%;
			display: block !important;
		}
		.date-field{
			margin-left: 0px;
			/*padding-right: 50px !important;*/
		}
		.align-middle{
			margin-top: 15px;
			margin-bottom: 15px;
			margin-left: 0px;
		}
		.align-event-dropdown{
			margin: 15px;
		}
		.date{
			margin-left: 5px;
		}
		.pick-date{
			width: 68.8px;
		}
		.content-1{
			margin-left: 0px;
		}
		.attendees-frm{
			/*padding-right: 60px !important;*/
		}
		.event-type{
			padding-right: 60px !important;
		}
		.dropdown{
			width: 190px;
		}
		#create-event{
			float: none !important;
			padding-top: 0px;
			margin-left: 20px;
			text-align: left;
		}
		.delete-btn{
			padding-left: 5px;
    		margin-top: 12px;
    		border-left: 1px solid;
		}
		.select-event{
			height: 33px;
			width: 100% !important;
			background-position-x:right !important;
			background-position-y:15px !important;
			border-right:9px solid #fff !important;
		}
		.event-list-name{
			margin-top: 0px !important;
			margin-left: 0px !important;
		}
	}
	.create-event-list-container{
		.column-1{
			width: 100%;
		}
		.list-title{
			margin-left: 20px !important;
			font-size: 18px !important;
			display: inline-block !important;
			margin-top: 30px !important;
		}
		.column-1-content-1{
			width: 40%;
		}
		.column-2{
			width: 100%;
		}
		.enter-input{
			padding-left: 10px;
		}
		.row-content{
			margin-left: 10px;
		}
		.create-event-column{
			width: 100%;
			text-align: center;
		}
		.create-event-button{
			float: none;
			width: 94%;
			color: #ffffff;
		}
	}
	#pagination-container {
		
		#pagination {
			
			li {
		    padding: 8px 12px !important;
			}
		}
	}

}
@media (min-width: 767px){
	.desktop-view{
		display: table !important;
	}
	.desktop-view-dropdown-icon{
		transform: rotate(0deg) !important;
	}
	.empty-event-msg {
		text-align: center;
		padding-top: 40px;
		padding-bottom: 25px;
		background: white;
	}
}

@media (min-width: 768px){
	.event-list-container{
	    .list-details{
			border-bottom: 0px !important;
			border-left: 0px;
			border-top: 0px;
	        border-right: 1px solid;
		}
		.list-details-attendees{
	        border-bottom: 0px !important;
			border-left: 0px;
			border-top: 0px;
	        border-right: 1px solid;
		}
	}
}

@media (max-width: 767px) {
	.text-search {
		.settigs-icon {
			img {
		    position: absolute;
		    right: 17px;
		    top: -25px;
			}
		}
	}
	.event-list-container{
		.row-details-mobile-view{
		    display: block;
		    padding-top: 0px;
		    padding-bottom: 0px;
	    }
	    .list-details{
			border-top: 0px;
			border-bottom: 1px solid;
			border-left: 0px !important;
			border-right: 0px !important;
	    }
		.list-details-attendees{
			border-top: 0px;
			border-bottom: 1px solid;
			border-left: 0px !important;
			border-right: 0px !important;
		}
	}
}

@media (min-width: 480px) and (max-width: 992px){
	.create-event-list-container{
	    .column-width-column-left{
	    	width: 100%;
	    }
	    .column-width-column-right{
	    	width: 94%;
	    }
	    .enter-input-attendees{
		    width: 96%;
			height: 35px;
			border-radius: 6px;
		}
		.style-background{
			width: 94%;
		}
		.react-autosuggest__container input{
			width: 94%;
		}
		.react-autosuggest__suggestions-container--open {
			width: 90%;
		}
		.column-width-column-right{
			margin-top: 16px;
		}
    }
}

@media (min-width: 480px) and (max-width: 720px){
	.create-event-list-container{
		 .enter-input-attendees{
		    width: 97%;
		 }
	}
}
@media (max-width: 480px){
	.event-list-container{
		.enter-text{
			width: 44px;
		}
	}
	.create-event-list-container{
	    .column-width-column-left{
	    	width: 100%;
	    }
	    .column-width-column-right{
	    	width: 94%;
	    }
	    .enter-input-attendees{
		    width: 96%;
			height: 35px;
			border-radius: 6px;
		}
		.style-background{
			width: 94%;
		}
		.react-autosuggest__container input{
			width: 94%;
		}
		.react-autosuggest__suggestions-container--open {
			width: 87%;
		}
		.column-width-column-right{
			margin-top: 16px;
		}
    }
}
@media (min-width: 1041px) and (max-width: 1480px){
	.event-list-container{
		.align-middle{
			margin-left: 0px;
			padding-left: 0px;
			padding-right: 0px;
		}
		.content-1{
			margin-left: 0px;
		}
		.pick-date{
			width: 68.8px;
			padding-left: 2px;
		}
		.enter-text{
			width: 46.4px;
		}
		.table-column-1{
			width: 36%;
		}
		.table-column-2{
			width: 34%;
		}
		.reset-button{
			width: 100%;
			padding-right: 0px;
			padding-left: 0px;
		}
	}
}
@media (min-width: 1041px) and (max-width: 1120px){
    .event-list-container{
    	.align-reset-button{
			padding-right: 0px;
		}
    }
}
@media (min-width: 1040px) and (max-width: 1432px){
	.event-list-container{
		/*.reset-count{
			margin-top: 18px;
		}*/
	}
}
@media (max-width: 1040px){
	.event-list-container{
		.reset-button{
			margin-top: 15px;
		}
		.align-reset-button{
			margin-right: 5px;
		}
	}
}

.rfp-management-container {
	 .dropdown-menu{
		width: 148.8px;
	    padding: 0px;
	    margin: 0px;
	    box-shadow: 0;
	    min-width: 141.8px;
	    background-color: #ffffff;
	    border: 0;
	    border-radius: 4px;
	    -webkit-box-shadow: 0;
	    left: 87px;
	}
	.lmargin25 {
		margin-left: 25px; 
	}
}

.empty-event-msg {
	text-align: center;
	padding-top: 100px;
	background: white;
}

.empty-event-msg-pagination {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

#pagination-container {
		padding: 25px;
		.text-left {
			margin-top: 5px;
			line-height: 30px;
		}
		#pagination {
			display:block;
			margin:0;

			li {
				display: inline-block;
		    color: #4a4a4a;
		    padding: 9px 18px;
		    cursor: pointer;
		    text-align: center;
		    border-radius: 8px;
				&.page.active {
					color:white;
				}
				&.disabled {
					color:#8e8e8e;
				}
			}
		}
	}
	.react-autosuggest__container input{
	    width: 100%;
	    background-color: #ffffff;
	    border: 1px solid rgba(48, 59, 112, 0.1);
	    border-radius: 4px;
	    border: 0;
	    padding: 7px;
	    padding-left: 10px;
	}
	.react-autosuggest__suggestion-match {
		font-weight: bold;
	}
	.react-autosuggest__suggestion--highlighted {
	  background-color: #e3e3e3;
	}
	.react-autosuggest__suggestions-container--open {
	  	display: block;
	    position: absolute;
      top: 63px;
  		width: 94%;
	    max-height: 200px;
	    overflow-y: scroll;
	    border: 1px solid rgba(48, 59, 112, 0.1);
	    background-color: #fff;
	    font-weight: 300;
	    font-size: 16px;
	    border-bottom-left-radius: 6px;
	    border-bottom-right-radius: 6px;
	    z-index: 2;
	  ul {
	    list-style: none;
	    padding: 0;
	    li {
	    	cursor: pointer;
	    	padding: 5px 0px;
	    	span {
    	    padding-left: 15px;
	    	}
  	    .react-autosuggest__suggestion-match + span {
    	    padding-left: 0px;
  	    }
  	    .react-autosuggest__suggestion-match {
  	    	padding-left: 0px;
  	    }
	    }
	  }
}
