.login-page-container{
	.logo-color{
		fill:#ffffff;
	}
	.layout-content{  
	    bottom: 20px;
	}
	.primary-text-color{
		color: #231b55;
		font-weight: normal;
	}
	.font-size-32{
		font-size: 32px;
	}
	.font-size-14{
		font-size: 14px;
	}
	.background-color-facebook{
		background-color: #4464a2;
	}
	.text-color-button{
		color: #ffffff;
		font-weight: normal;
	}
	.color-blue{
		color: #009fce;
	}
	.input-field-style{
		width: 100%;
	    opacity: 0.75;
	    padding-top: 8px;
	    padding-bottom: 8px;
		box-shadow: 8px 6px 17px 0 rgba(0, 0, 0, 0.01);
		border: solid 0.5px rgba(147, 141, 180, 0.15);
		background-color: #ffffff;
		padding-left: 10px;
		border-radius: 4px;
	}
	.invalid-input {
		border: 1px solid #ff0000;
	}
	.error-description {
		text-align: center;
    padding: 10px;
    color: #ff0000;
	}
	input[type="checkbox"]{
		transform: scale(1.4);
	}
	.button-forget-password{
        border:0;
	}
	.float-left{
		float: left;
	}
	.tmargin50{
	    margin-top: 50px;
	}
	.tmargin75{
		margin-top: 75px;
	}
	.rmargin10{
		margin-right: 10px;
	}
	.lmargin10{
        margin-left: 10px;
	}
	.lmargin30{
		margin-left: 30px;
	}
	.lmargin45{
		margin-left: 45px;
	}
	.lmargin60{
		margin-left: 60px;
	}
	.lmargin75{
		margin-left: 95px;
		margin-top: 35px;
	}
	.lmargin95{
		margin-left: 95px;
	}
	.lmargin{
		margin-left: 30px;
	}
	.tmargin0 {
		margin-top: 0px;
	}
	.tmargin150 {
		margin-top: 150px;
	}
	.style-width{
		width: 100%;
	}
	.mask{
		width: 100%;
		height: 227.8px;
		max-width: 100%;
		background: #24e8b6;
	}
	.mask-down{
		width: 50%;
	    height: 320px;
	    margin: 0px 0 0 -95px;
	    -webkit-transform: skew(-30deg);
	    -moz-transform: skew(-30deg);
	    -ms-transform: skew(-30deg);
	    -o-transform: skew(-30deg);
	    border-bottom-right-radius: 50px;
		float: left;
		background: #24e8b6;
	}
	.mask-right{
		width: 47%;
        height: 62px;
        margin: 0px 0px 0px 70px;
        -webkit-transform: skew(26deg);
        -moz-transform: skew(26deg);
        -ms-transform: skew(26deg);
        -o-transform: skew(26deg);
        border-top-left-radius: 87px;
	    float: left;
	    /* background-image: linear-gradient(336deg, #38f3d3, #24e8b6 56%, #0cb1a4); */
	    background-color: #ffffff;
	    border-top-color: 0.5px solid #38f3d3;
	    border-bottom-color: #00000000;
	    border-left-color: #00000000;
	    border-right-color: #00000000;
	}
	.mask-right-no-corner-radius{
		width: 47%;
        height: 22px;
        margin: 0px 0px 0px 78px;
	    -webkit-transform: skew(26deg);
	    -moz-transform: skew(26deg);
	    -ms-transform: skew(26deg);
	    -o-transform: skew(26deg);
	    float: left;
	    /* background-image: linear-gradient(336deg, #38f3d3, #24e8b6 56%, #0cb1a4); */
	    background-color: #ffffff;
	    border-top-color: 0.5px solid #38f3d3;
	    border-bottom-color: #00000000;
	    border-left-color: #00000000;
	    border-right-color: #00000000;
	}
	.remove-skew-login{
		-webkit-transform: skew(-26deg);
	    -moz-transform: skew(-26deg);
	    -ms-transform: skew(-26deg);
	    -o-transform: skew(-26deg);
	    margin-left: 30px;
	    margin-top: 20px;
	}
	.main-content{
		width:498.3px;
		float: left;
		position: absolute;
		margin-left: 100px;
	}
	.margin-header{
		margin-top: 40px;
	}
	.text-wrap{
		display: none;
	}
	.button-send-email{
		width: 200px;
        border-radius: 22px;
        background-image: linear-gradient(336deg, #38f3d3, #24e8b6 56%, #0cb1a4);
	}
	/*@media (max-width: 768px) {
	    .mask-down{
			width: 80%;
		    height: 280px;
		    margin: 0px 0 0 -95px;
		    -webkit-transform: skew(-30deg);
		    -moz-transform: skew(-30deg);
		    -o-transform: skew(-30deg);
		    border-bottom-right-radius: 50px;
			float: left;
			background: #24e8b6;
	    }
	    .mask-right-no-corner-radius{
	    	width: 47%;
            height: 22px;
            margin: 0px 0px 0px 70px;
	    }
	    .mask-right{
	    	width: 47%;
            height: 65px;
            margin: 0px 0px 0px 57px;
	    }
	    .main-content{
	    	margin-left: 82px;
	    }
    }*/
   
	.bottom-element{
		background-color: #24e8b6;
	}
	.top-element{
        background-color: #ffffff;
        position: absolute;
	}
	/*.mask-down {
	    background: #24e8b6;
	    width: 50%;
	    height: 320px;
	    position: relative;
	}*/
	.remove-skew{
		-webkit-transform: skew(30deg);
	    -moz-transform: skew(30deg);
	    -o-transform: skew(30deg);
	    -ms-transform: skew(30deg);
	}
	.text-width{
		width: 10px;
		word-wrap: break-word;
	}
	.image-align{
		float: left;
	}
	.position{
		position: absolute;
	}
	.mask-down {
	    overflow: hidden;
	}
	.button-style{
		border-radius: 22px;
        background-image: linear-gradient(336deg, #38f3d3, #24e8b6 56%, #0cb1a4);
	}
	.button-image-style{
		width:8px;
		vertical-align: middle;
		margin-top: 2px;
	}
	.align-button-image{
		width:7px;
		vertical-align: middle;
		margin-top: 4px;
		margin-left: 5px;
	}
	.align-center{
		text-align: center;
		margin:auto;
	}
	.button-login-style{
		width: 100%;
		border-radius: 4px;
        border: solid 0.5px #979797;
        white-space: normal;
        font-size: 12px;
        text-align: center;
	}
	.vertical-align{
		margin-top: 5px;
	}
	.button-column{
		display: none;
	}
	.set-index{
		z-index: -1;
	}
	input[type="text"].password-field{
        content: "&#8727";
	}
	.align-content-bottom{
		bottom: 0;
	}
	.footer-text {
        width: 100%;
    }
    .text-align-center{
		text-align: center;
	}
	.display-inline{
		display: inline-block;
		margin-top: 5px;
	}
	.header-logo-top{
		margin-top: 77px;
	}
}
.reset-password-container{
	.button-back-to-signin{
		border: 0;
	}
	.button-send-email{
		width: 100%;
        border-radius: 22px;
        background-image: linear-gradient(336deg, #38f3d3, #24e8b6 56%, #0cb1a4);
	}
}
.reset-password-sent-container{
	.button-got-it{
		width: 100%;
		border-radius: 22px;
		background-image: linear-gradient(336deg, #38f3d3, #24e8b6 56%, #0cb1a4);
	}
	.content-align-bottom{
		margin-top: 150px;
	}
}
.svg-wrapper.white-logo-spazious {
	span {
		 svg {
		 		width: 300px;
		 		height: 100px;
		 }
	}
}
@import 'LoginPageResponsive.scss';