body {
    overflow-x: hidden;
}
.glyphicon-pencil {
	font-size: 12px;
  padding-left: 5px;
}
.color-white{
	color: #ffffff;
}
.home-container.rfp-management-container {
	select.dropdown-event-type{
    width: 85%;
    float: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background-size: 12px 7px;
    background-position-x: 95%;
    background-position-y: 12px;
    height: 30px; 
    font-size: 12px;
    font-weight: bold;
    background-color: #ffffff;
    border: 0px solid #ffffff;
    outline: none;
    background-image: url(/dist/img/event_list/dropdown-arrow-black.png);
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 16px;
    margin-top: 0px;
	}
	.align-event-type-dropdown {
		width: auto !important;
		font-size: 14px !important;
	}
	.react-bootstrap-daterangepicker-container button{
		border: 0;
	}
	.input-edit {
    height: 25px;
    border-radius: 6px;
    width: 90%;
	}
	select.contact-country-dropdown {
    float: none;
    background: #fcfcfc;
    border: 1px solid #cccc;
    -webkit-appearance: menulist;
	}
	select.room-name-dropdown {
    box-shadow: inset 0px 1px 1px 1.5px rgba(0, 0, 0, 0.075);
	}
}

.mobile-iblock{
	display: none !important;
}
.fontmargin13{
	font-size: 13px;
	margin-top: 22px;
}
.rfp-management-container {
  background: #fcfcfc;
  /*.fill-primary {
  	fill: #303B70;
  }*/
  /*.stroke-primary{
  	stroke: #303B70;
  }*/
  .primary-border-right {
  	border-right: 0.8px solid rgba(48, 59, 112, 0.15)
  	/*border-right: 0.8px solid rgba(173, 11, 58, 0.15);*/
  }
  /*.primary-background {
  	background-color: #303B70;
  }*/
  .white-fill {
  	.fill-primary {
  		fill: #fcfcfc;
  	}
  }
  .loading {
	  text-align: center;
		padding-top: 140px;
		padding-bottom: 25px;
		background: white;
	}
  .back-button{
  	margin-left: -45px;
  }
  .white-border {
  	border-color: #fcfcfc !important;
  }
  .white-border.edit-btn {
  	border: 1px solid !important;
  	border-color: #fcfcfc !important;
  }
	.color-sidebar{
		color: #ffffff;
		font-size: 12px;
	}
	.content-right {
    width: 80%;
    float: right;
    margin-left: 20px;
    margin-right: 5%;
	}
	/*.primary-color {
 		color: #303B70;
	}*/
	.chat-icon {
		cursor: pointer;
    padding: 6px 20px;
    border-radius: 100px;
    width: 74px;
	}
	.guest-history-details {
		background: rgba(241, 238, 238, 0.6);
		display: flex;
		/*min-width: 1072px;*/
	}
	.gray-text {
    opacity: 0.8;
    font-size: 14px;
    line-height: 2.01;
    color: #4a4a4a;
    min-width: 99px;
    max-width: 200px;
    display: inline-block;
	}
	.history-icon {
		width: 206px;
	}
	.destination {
		min-width: 85px;
	}
	.hotel-info-wrapper {
		display: flex;
		background: rgba(241, 238, 238, 0.6);
    margin-top: 10px;
    padding: 10px 0px;
    /*min-width: 1072px;*/
	}
	.hotel-text {
		line-height: 1.4;
		opacity: 0.8;
	}
	.location-icon {
		width: 206px;
    margin-right: 10px;
		.svg-wrapper {
			span {
				svg {
					float: right;
				}
			}
		}
	}
	.capacity-room {
		padding-left: 33px;
	}
	.meeting-room {
		display: inline;
		padding-left: 8px;
	}
	.status-container {
    margin-top: 25px;
    margin-bottom: 25px;
	}
	.user-details {
		display: inline-block;
    margin-left: 10px;
    padding: 9px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    border: solid 0.7px rgba(252, 252, 252, 0);
    background: rgba(255, 255, 255, 0.5);
    img {
	    width: 39px;
    }
	}
	.header-container {
    /*min-width: 1072px;*/
    max-width: none;
    margin: auto;
	}
	.user-image {
		margin: 0 10px;
	}
	.user-initial-name {
		width: 35px;
	    height: 35px;
	    display: inline-block;
	    background-color: #0b9fad;
	    border-radius: 100%;
	    text-align: center;
	    color: #ffffff;
	    padding-top: 7px;
	}
	.meeting-room-wrapper {
		width: 100%;
		height: 48px;
		transform: none;
		margin: auto;
		border-radius: 0;
		overflow-x: hidden;
		/*background-image: linear-gradient(0deg, rgb(48, 59, 112) 45%, rgb(185, 146, 146) 145%);*/
		/*min-width: 1072px;*/
		.meeting-info-title {
	    top: 14px;
			font-size: 26px;
		}
		.img-class img {
			height: 30px;
		}
		.hyphen-class {
			top: 4px;
		}
	}
	.table {
		border-collapse: collapse;
	}
	.white-text {
		color: #fcfcfc;
	}
	.meeting-room-list-container {
		/*min-width: 1072px;*/
	}
	.meeting-room-list-container .table .btn-default.share-btn-rfp {
		border: 1px solid;
    padding: 4px 26px;
    border-radius: 20px;
    color: inherit;
	}
	.meeting-room-list-container .table tbody tr .date-time-field {
    min-width: 150px;
	}
	/*.meeting-room-list-container .table tbody tr.no-box-shadow {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	}*/
	.meeting-room-list-container .table .addon-header {
    bottom: 0px;
    line-height: normal;
	}
	.meeting-room-list-container{
			.table{
				tbody{
					tr{
						.event-name{
							min-width: 70px !important;
						}
					}
				}
			}
	    } 
	.meeting-room-list-container .table .service-container {
    margin-bottom: 33px;
 		text-align: left;
   	margin-left: 0px; 
 		.services {
	    width: 12%;
	    margin: 21px 10px;
	    padding: 37px 0px;
     	font-weight: normal; 
	    font-size: 14px;
	    cursor: pointer;
	    text-align: center;
	 	}
	}
	.submit-container {
		.align-email{
            width: 45% !important;
            word-break: break-all;
            display: inline-block;
		}
    /*min-width: 1072px;*/
	}
	.submit-container .guest-room-section, .submit-container .contact-info-row, .submit-container .add-doc-row {
		margin-left: 20px;
		margin-right: 0px;
	}
	.submit-container .contact-info-row {
		.required-contact-info {
			.meeting-info-label {
				width: auto;
			}
		}
	}
	.submit-container .contact-info-row .meeting-info-label{
			width: 44%;
	}
	.contact-input {
		font-weight: bold;
	}
	.no-info {
		padding: 10px 30px;
		padding-top: 24px;
	}
	.fix-center-rfp-additional-info {
		margin-left: 26px;
    margin-right: 26px;
		width: auto;
		width: 85%;
		max-width: none !important;
	}
	.additional-info-val {
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    border: solid 0.7px rgba(252, 252, 252, 0);
    background: rgba(255, 255, 255, 0.75);
    padding: 20px;
    margin: 15px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 1.63;
	}
	/*.additional_info {
    margin-left: 26px;
    margin-right: 26px;
	}*/
	/*[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
		background: #303B70;
	}*/
	textarea::placeholder {
		color: #303b70;
		opacity: 0.75;
  	font-weight: normal !important;
  }
  .required-contact-info {
  	.chat-icon {
  		margin-top: 46px;
  	}
  }
  .business {
  	width: 46%;
  }
  .region-select-btn {
  	color: inherit;
  }
  .event-planner-documents {
  	width: 48%;
  	margin-left: 2%;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    border: solid 0.7px rgba(252, 252, 252, 0);
    background-color: rgba(255, 255, 255, 0.75);
    .svg-wrapper {
    	span {
    		svg {
    			margin: 10px;
    		}
    	}
    }
  }
  .submit-container #upload-doc-section {
  	z-index: 1;
  	.drag-upload-file {
  		cursor: pointer;
	    .svg-wrapper {
	    	div {
	    		z-index: -1;
	    	}
	    }
	    span {
	    	z-index: -1;
	    }
	  }
	} 
  .save-btn {
  	margin-top: 30px;
  	margin-bottom: 50px;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 23px;
    float: right;
    margin-right: 30px;
  	.save-text {
	    padding-right: 20px;
  	}
  }
  .status-btn {
  	display: inline-block;
    margin-left: 30px;
    border-radius: 5.2px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.14);
    border: solid 0.7px rgba(255, 255, 255, 0);
    background: rgba(115, 226, 182, 0.75);
    padding: 10px;
    color: #fcfcfc;
    .status-btn-text {
			padding-right: 95px;
    }
  }
 	.rfp-label {
 		transform: none;
 		max-width: none !important;
    margin: 0 auto;
 	}
 	.row1 {
 		margin-bottom: 10px;
 	}
 	.service-col {
 		background-color: #f4f4f4;
 	}
 	.setup-btn-container {
 		text-transform: capitalize;
 		opacity: 0.1;
 		padding-left: 30px;
        padding-top: 20px;
 	}
 	.no-btn-opacity {
 		opacity: 1;
 	}
 	.person-image {
 		padding-left: 10px;
 	}
 	.meeting-room-list-container .table .addon-header span {
    margin-top: -128px;
 	}
 	.presetup {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
 	}

	#my-document-upload-zone {
		min-height: 224px;
    border-radius: 16px;
    border: 5px dotted;
    margin-bottom: 20px;
    z-index: 1;
    cursor: pointer;
    .dz-preview {
    	.dz-details {
		    font-size: 18px;
      	.dz-remove {
			    font-size: 23px;
    			padding-left: 20px;
    		}
    	}
    }
	}
	.setup-button-responsive{
    	display: inline-block;
    }
    .align-address{
		width: 45% !important;
        word-break: break-all;
        display: inline-block;
	}
}
@media (min-width: 768px){
	.alert-msg-upload-documents{
		left: 25%;
		right: 20%;
	}
}
@media (min-width: 992px) and (max-width: 1300px){
    .rfp-management-container{
		.meeting-room-list-container{
			.table{
				.count{
					width: 56px;
				}
				.btn-default.share-btn-rfp{
					padding: 4px 15px;
				}
			}
		} 
		.submit-container{
			.meeting-info-value{
			   font-size: 16px;
		    }
		    .align-label{
			   margin-right: 5px;
		    }
		    .align-email{
                width: 45% !important;
                word-break: break-all;
                display: inline-block;
		    }
		}
	}
}
@media (min-width: 992px) and (max-width: 1024px){
	.rfp-management-container{
		.meeting-room-list-container{
			.table{
				tbody{
					tr{
						.selected-event-name{
							min-width: 206px;
						}
						.event-name{
                            min-width: 180px !important;
						}
						.date-time-field{
							min-width: 74px !important;
							.align-date-edit{
								width: 77px;
								padding-left: 0px !important;
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1040px){
    .rfp-management-container{
		.meeting-room-list-container{
			.table{
				tbody{
					tr{
						.selected-event-name{
							min-width: 220px;
						}
						.event-name{
                            min-width: 164px !important;
						}
						.date-time-field{
							min-width: 84px !important;
							.align-date-edit{
								width: 77px;
								padding-left: 0px !important;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1040px) and (max-width: 1100px){
    .rfp-management-container{
		.meeting-room-list-container{
			.table{
				tbody{
					tr{
						.selected-event-name{
							min-width: 180px;
						}
						.event-name{
                            min-width: 148px !important;
						}
						.date-time-field{
							min-width: 84px !important;
							.align-date-edit{
								width: 77px;
								padding-left: 0px !important;
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1100px) and (max-width: 1180px) {
	.rfp-management-container{
		.meeting-room-list-container{
			.table{
				tbody{
					tr{
						.selected-event-name{
							min-width: 215px;
						}
						.event-name{
                            min-width: 168px !important;
						}
						.date-time-field{
							min-width: 71px !important;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1180px){
	.rfp-management-container{
		.meeting-room-list-container{
			.table{
				.name{
					max-width: 75px;
				}
				tbody{
					tr{
						.selected-event-name{
							min-width: 168px;
						}
						.event-name{
                            min-width: 146px !important;
						}
						.date-time-field{
							min-width: 148px !important;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1040px){
	.rfp-management-container{
		.meeting-room-list-container{
			.table{
				.meeting-room-name{
                    padding-left: 15px !important;
				}
				.name{
					max-width: 74px;
				}
				.btn-default.clone-btn{
					padding: 4px 15px;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1200px){
	.rfp-management-container{
		.meeting-room-list-container{
			.selected-meeting-room-list .rdt{
				width: 53% !important;
			}
			.align-border{
				top: 18px;
			}
		}
	}
}
@media (min-width: 1040px) and (max-width: 1140px){
	.rfp-management-container{
		.meeting-room-list-container{
			.table{
				.selected-meeting-room-list .rdt{
				    width: 53% !important;
			    }
				.meeting-room-name{
                    padding-left: 15px !important;
				}
				.name{
					max-width: 95px;
				}
				.btn-default.clone-btn{
					padding: 6px 20px;
				}
			}
		}
	}
}
@media (min-width: 1140px) and (max-width: 1300px){
	.rfp-management-container{
		.meeting-room-list-container{
			.table{
				.meeting-room-name{
                    padding-left: 15px !important;
				}
				.name{
					max-width: 86px;
				}
				.btn-default.clone-btn{
					padding: 6px 20px;
				}
			}
		}
	}
}

@media (min-width: 1145px){
	.rfp-management-container{
		.meeting-room-list-container{
			.table{
				.meeting-room-name{
                    padding-left: 17px !important;
				}
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1105px) {
	.rfp-management-container .submit-container .contact-info-row .meeting-info-label {
		width: 41% !important;
	}
}
@media (min-width: 992px) and (max-width: 1500px){
	.rfp-management-container{
        .layout-customization-container .align-search-button {
		    button{
              width: 280px;
            }
            .fa-search {
     		  left: 260px;
     		}
		}
		.layout-header-tab-container #full-view-btn {
		    position: absolute;
		    top: 50px;
		    left: 50px;
		    border-radius: 73px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1200px){
	.rfp-management-container{
		.layout-customization-container{
		    .choose-furniture-button{
		      right: 13% !important;
		    }
		}
	}
}
@media (min-width: 1300px){
	.rfp-management-container{
		.meeting-room-list-container .table tbody tr td.event-name{
			min-width: 150px !important;
		}
		.meeting-room-list-container{
			.table{
				.name{
					max-width: 104px;
				}
				tbody{
					tr{
						.date-time-field{
							min-width: 164px !important;
						}
					}
				}
			}
		} 
	}
}
@media(min-width: 993px) and (max-width: 1040px){
	.submit-container{
		min-width: auto !important;
	}
	.ipad-pro-enable{
		display: block !important;
	}
	.ipad-pro-disable{
		display: none !important;
	}
	.rfp-management-container{
		.content-right{
			width: 90%;
			margin-right: 0px !important;
			margin-left: 0px !important;
		}
		.fix-center-rfp-additional-info{
			margin-left: 0px !important;
			margin-right: 0px !important;
			width: 100% !important;
			max-width: none !important;
		}
		.submit-container{
			.contact-info-row{
				margin-left: 0px !important;
				margin-right: 0px !important;
			}
		}
	}
}
@media(min-width: 768px) and (max-width: 992px){
	.mobile-iblock{
		display: inline-block !important;
	}
	.rfp-select{
		width: auto !important;
		border:1px solid !important;
		float: none !important;
		background-image: none !important;
		margin-top: 0px !important;
		-webkit-appearance: menulist !important;
	}
	.rfp-management-container{
		.meeting-room-list-container .table .service-container {
	   	width: 50% !important;
	    .services{
	    	width: 35% !important;
		    display: inline-block !important;
		    margin: 21px 10px;
		    padding: 37px 0px;
		    font-weight: normal;
		    margin-left: 44px !important;
		    font-size: 14px;
		    cursor: default;
		    text-align: center;
        }
		}
		.button-setup{
			width: 55% !important;
		    margin-left: 28px !important;
		}
		.setup-button-responsive{
			width: 50%;
		}
		.submit-container{
			min-width: auto;
			.guest-room-section{
               margin-right: 7% !important;
			}
		}
		.meeting-room-list-container{
			.table{
				tbody{
					tr{
						.date-time-field{
							min-width: 196px;
						}
					}
				}
			}
			} 
		/*.meeting-room-name{
			width: 20% !important;
		}
		.share-btn-rfp{
			padding: 1px 16px !important;
		}*/
		.fix-center-rfp-additional-info{
			margin-right: 0px !important;
			margin-left: 0px !important;
			width: 100% !important;
		}
		.loc-mob{
			float: none !important;
			border: none !important;
		    border-bottom: 1px solid !important;
		    border-radius: 0px !important;
		    margin-left: 15px !important;
		    width: 92% !important;
		    margin-top: 0px !important;
		    .svg-wrapper span svg{
		    	float: left !important;
		    	margin-left: -15px !important;
		    }
		}
		.meeting-room-list-container{
			min-width: auto;
		}
		.content-right{
		margin-right: 0px;
		width: 90%;
		}
		.guest-history-details{
			min-width: auto;
			display: block;
		}
		.mob-col{
			width: 50%;
			float: left;
			.primary-border-right{
				border-right: none !important;
			}
			span{
				font-size: 13.5px !important;
			}
			.gray-text{
				min-width: 99px !important;
			}
			.destination{
				min-width: 99px !important;
			}

		}
		.hotel-info-wrapper{
			display: block;
			min-width: auto;
		}
		.meeting-room-wrapper{
			.meeting-info-title{
				font-size: 15px;
				top:17px;
			}
			.img-class{
				top:9px;
			}
			} 
		.submit-container .contact-info-row .required-contact-info .meeting-info-label{
			width: 25% !important;
		}
		.doc-box{
			margin-top: 0px !important;
		}
		.submit-container{
			.contact-info-row{
				margin-left: 0px;
				margin-right: 0px;
			}
			.add-doc-row{
				margin-left: 0px;
			}
			#upload-doc-section{
				margin-top: 20px !important;
				.drag-upload-file {
					top: 40px;
				}
			}
		}
		.room-info-class{
			border-right: 0px solid !important;
			.meeting-room{
				font-size: 12px !important;
			}
		}
		.capacity-room{
				padding-left: 8px;
				display: inline-block !important;
				font-size: 12px !important;
		}
		.capacity-info-class{
			padding-left: 0px !important;
			.meeting-room{
				font-size: 12px !important;
			}	
		}
		.align-date-edit{
	        margin-left: 20px !important;
	        height: 34px;
	        display: inline-block;
	        float: left;
	    }
	}

}

@media (max-width: 992px){
	.addon-header{
		position: unset !important;
	}
	.text-left{
        text-align: left;
	} 
	.home-container.rfp-management-container {
	  .align-event-type-dropdown{
	  	margin-left: 0px !important;
	  	margin-top: 0px !important;
	  }
	  .submit-container .contact-info-row .meeting-info-label{
		width: 46%;
	  }
	  .input-edit{
	  	width: 50%;
	  }
    }
    .rfp-management-container{
		.meeting-room-list-container{
			.table{
				.btn-default.clone-btn{
					padding: 6px 30px !important;
				}
			}
		}
	}
}
@media(max-width: 767px){
	.rfp-mob-hide{
		display: none !important;
	}
	.event-history-popup-container{
		width: 90%;
        right: 20px;
		height: auto;
		.row-content{
			margin-right: 0px !important;
			margin-left: 0px !important;
		}
	}
	.rfp-select{
		width: auto !important;
		border:1px solid !important;
		float: none !important;
		background-image: none !important;
		margin-top: 0px !important;
		-webkit-appearance: menulist !important;
	}
	.mobile-iblock{
		display: inline-block !important;
	}
	.rfp-management-container{
		.submit-container{
			.guest-room-section{
               margin-right: 11% !important;
			}
		}
			.share-btn-rfp{
				padding:2px 13px !important;
				margin-right: 20px !important;
			}
			.meeting-room-wrapper{
		height: 78px !important;
		/*background: #ad0b3a;*/
		width: 120% !important;
		transform: scale(0.8) !important;
		margin-left: -8% !important;
		margin-top: -9px !important;
		opacity: 0.85 !important;
		overflow-x: visible;
	  	box-shadow: 2px 6px 8px 1px rgba(0, 0, 0, 0.2) !important;
	  /*background-image: linear-gradient(to bottom, #ad0b3a, #b99292);*/
		border-bottom-left-radius: 86px !important;
		&:before {
	    content: " " !important;
	    position: absolute !important;
	    display: block;
	    width: 97%;
	    height: 100%;
	    left: 30px;
	    border-bottom-left-radius: 20px;
	    transform-origin: bottom left;
	    -ms-transform: skew(-28deg,0deg);
	    -webkit-transform: skew(-28deg,0deg);
	    transform: skew(35deg,0deg);
	    /*background: #ad0b3a;*/
		}
		border-bottom-left-radius: 86px;
		.img-class{
			position: absolute;
			left: 64px;
			top: 19px;
			img{
				height: 39px;
			}
		}
		.meeting-info-title{
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
		  font-size: 28px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 0.77;
		  letter-spacing: normal;
		  color:#fff;
		  position: absolute;
		  left:200px;
		  top: 27px;
		}
		.hyphen-class{
			position: absolute;
			top: 16px;
			right: 25px;
			color: #fff;
			hr{
				width: 23px;
				border-width: 3px;
				border-color: #fff;
			}
		}

	}
	    .service-container {
	   	    width: 70% !important;
	        .services{
	    	   width: 65% !important;
	    	   margin-left: 28px !important;
            }
	    }
	    .button-setup{
	    	width: 35% !important;
	    	margin-left: 28px !important;
	    }
	    .setup-button-responsive{
	    	display: block;
	    }
		.submit-container{
			min-width: auto;
		}
		.header-container{
			min-width: auto;
		}
		.loc-mob{
			float: none !important;
			border: none !important;
		    border-bottom: 1px solid !important;
		    border-radius: 0px !important;
		    margin-left: 15px !important;
		    width: 92% !important;
		    margin-top: 0px !important;
		    .svg-wrapper span svg{
		    	float: left !important;
		    	margin-left: -15px !important;
		    }
		}
		.meeting-room-list-container{
			min-width: auto;
		}
		.content-right{
		margin-right: 0px;
		width: 100%;
		}
		.guest-history-details{
			min-width: auto;
			display: block;
		}
		.mob-col{
			width: 50%;
			float: left;
			.primary-border-right{
				border-right: none !important;
			}
			span{
				font-size: 8.5px !important;
			}
			.gray-text{
				min-width: 76px !important;
			}

		}
		.hotel-info-wrapper{
			display: block;
			min-width: auto;
		}
		.meeting-room-wrapper{
			min-width: auto;
			.meeting-info-title{
				font-size: 19px;
				top:34px;
				left: 140px;
			}
			.img-class{
				top:19px;
			}
			} 
		.submit-container .contact-info-row .required-contact-info .meeting-info-label{
			width: 25% !important;
		}
		.doc-box{
			margin-top: 0px !important;
		}
		.submit-container{
			.add-doc-row{
				margin-left: 0px;
			}
			#upload-doc-section{
				margin-top: 20px !important;
			}
		}
		.room-info-class{
			border-right: 0px solid !important;
			padding-right: 0px !important;
			.meeting-room{
				font-size: 12px !important;
				padding-left: 2px !important;
			}
		}
		.capacity-room{
				padding-left: 8px;
				display: inline-block !important;
				font-size: 12px !important;
		}
		.capacity-info-class{
			padding-left: 0px !important;
			padding-right: 0px !important;
			.meeting-room{
				font-size: 12px !important;
			}
		}
		.align-date-edit{
	        margin-left: 20px !important;
	        height: 34px;
	        display: block;
	    }
	}
}
@media (max-width: 991px){
	.home-container.rfp-management-container {
		select.dropdown-event-type{
	        width: 20%;
	        margin-left: 30px;
	  	    margin-top: 15px;
	    }
    }
}
@media (max-width: 1048px){
	.rfp-management-container{
	    .back-button{
	       margin-left: 0px;
	    }
    }
}
@media (min-width: 1700px){
	.rfp-management-container{
        .submit-container .contact-info-row .meeting-info-label{
		   width: 45%;
	    }
	}
}